/*=Accordion==================================================================================================================================================================*/

.sc_accordion .sc_accordion_item .sc_accordion_content { overflow: hidden; display: none; font-weight: 300; margin:0; }
.sc_accordion .sc_accordion_item .sc_accordion_title { text-align:left; }
.sc_accordion .sc_accordion_item .sc_accordion_title:before { content: '\e82d'; font-family: "fontello"; width:35px; height:35px;display:block; text-align:center; line-height:36px; font-size:16px; text-indent:1px; position:absolute; font-weight: 100; }

/*accordion style 1*/
.sc_accordion.sc_accordion_style_1{ margin:0 0 50px 0;}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item { border-top:2px solid transparent; }
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title{ cursor:pointer; padding: 25px 20px 25px 75px; position:relative;	background: #f5f7f9; }
.sc_accordion.sc_accordion_style_1 .sc_accordion_item.sc_active .sc_accordion_title { cursor:default; }
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_content{ padding: 25px 30px 25px 75px; }
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title:before { border:2px solid #ff5440; left: 20px; top: 18px; }
.sc_accordion.sc_accordion_style_1 .sc_accordion_item.sc_active .sc_accordion_title:before { color: #ffffff; }
.sc_accordion.sc_accordion_style_1 .sc_accordion_item_large .sc_accordion_title:before { top: 21px; }
.sc_accordion.sc_accordion_style_1 .sc_accordion_item_large .sc_accordion_title { text-transform: uppercase; }

/*accordion style 2*/
.sc_accordion.sc_accordion_style_2 { margin:0 0 50px 0;}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item + .sc_accordion_item { border-width: 1px 0 0 0; border-style: dashed; border-color: #e8e9e9; }
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title { font-weight: 600; line-height: 25px; font-size: 18px; text-transform: none; cursor:pointer; padding:30px 20px 30px 55px; position:relative; }
.sc_accordion.sc_accordion_style_2 .sc_accordion_item.sc_active .sc_accordion_title{ cursor:default; } 
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_content{ padding: 0 25px 30px 55px; }
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title:before { border:2px solid #ff5440; left: 0; top: 24px; }
.sc_accordion.sc_accordion_style_2 .sc_accordion_item.sc_active .sc_accordion_title:before { color: #ffffff; }
.sc_accordion.sc_accordion_style_2 .sc_accordion_item_large .sc_accordion_title { font-size:25px; line-height:30px; }
.sc_accordion.sc_accordion_style_2 .sc_accordion_item_large .sc_accordion_title:before { top:25px; }

/*accordion counter*/
.sc_accordion.sc_show_counter .sc_accordion_item .sc_accordion_title { padding-right: 0; }
.sc_accordion.sc_show_counter .sc_accordion_item .sc_accordion_title span.sc_items_counter { display:inline-block; width:50px; position: absolute; right: 0;}


/*=Audio================================================================================================================================================*/
.audio_container {
    min-height:50px;
    padding: 35px 35px 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: 100%;
}
.audio_container.with_info { padding: 35px 35px 100px; }
.audio_container > div {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 35px 25px;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.audio_container.with_info > div { padding: 0 35px 35px; }
.audio_container .audio_info { padding: 0; color: #ffffff; }
.audio_container span.audio_info {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

/*controls*/
.mejs-controls .mejs-play,
.mejs-controls .mejs-pause,
.mejs-controls .mejs-mute.mejs-button,
.mejs-controls .mejs-unmute.mejs-button { background: rgba(255,255,255,0.2); width:25px !important; height:25px !important; border-radius: 100% !important; margin-top: 1px !important; }

.mejs-controls .mejs-mute.mejs-button,
.mejs-controls .mejs-unmute.mejs-button { margin-right: 6px !important; }

.mejs-controls .mejs-play:hover,
.mejs-controls .mejs-pause:hover,
.mejs-controls .mejs-mute.mejs-button:hover,
.mejs-controls .mejs-unmute.mejs-button:hover { background: rgba(255,255,255,1) !important; border-radius: 100% !important;}

.mejs-controls .mejs-play button,
.mejs-controls .mejs-pause button,
.mejs-controls .mejs-mute button,
.mejs-controls .mejs-unmute button { background: none !important; margin: 0 !important; width:25px !important; height:25px !important; }

.mejs-controls .mejs-play button:before,
.mejs-controls .mejs-pause button:before,
.mejs-controls .mejs-mute button:before,
.mejs-controls .mejs-unmute button:before {
    font-family: "fontello";
    width:25px;
    height:25px;
    display:block;
    text-align:center;
    line-height:26px;
    font-size:10px;
    position:absolute;
    top: 0;
    text-indent: 0;
    font-weight: 100;
    color: #ffffff;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.mejs-controls .mejs-play button:hover:before,
.mejs-controls .mejs-pause button:hover:before,
.mejs-controls .mejs-mute button:hover:before,
.mejs-controls .mejs-unmute button:hover:before { color: #232a34; }

.mejs-controls .mejs-mute button:before,
.mejs-controls .mejs-unmute button:before { font-size:12px; }
.mejs-controls .mejs-play button:before,
.mejs-controls .mejs-mute button:before { text-indent: 2px; }

.mejs-controls .mejs-play button:before { content: '\e845'; }
.mejs-controls .mejs-pause button:before { content: '\e846'; }
.mejs-controls .mejs-mute button:before { content: '\e866'; }
.mejs-controls .mejs-unmute button:before { content: '\e816'; }

.mejs-controls .mejs-time-rail > span,
.mejs-controls .mejs-time-rail > span > span,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current { border-radius: 0 !important; height: 3px !important; }
.mejs-controls .mejs-time-rail span.mejs-time-float { height: 17px !important; }
.mejs-controls div.mejs-time-rail { padding-top: 7px !important; height: 15px !important; }
.mejs-controls .mejs-time-rail .mejs-time-total, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total, .mejs-controls .mejs-time-rail .mejs-time-loaded {
    background: rgba(255, 255, 255, 0.2) !important; border-radius: 0 !important; height: 3px !important; }
.mejs-controls .mejs-time-rail .mejs-time-total { background: rgba(255, 255, 255, 0.05) !important; }
.mejs-controls div.mejs-horizontal-volume-slider { margin-top: 2px !important; }
.mejs-controls div.mejs-horizontal-volume-slider { margin-left: 5px !important; width: 45px !important; }
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total { width: 45px !important; }
.mejs-container .mejs-controls .mejs-time { padding: 8px 10px 0 0 !important; }
.mejs-container .mejs-controls .mejs-time.mejs-currenttime-container { padding: 8px 0 0 8px !important; }
.mejs-container .mejs-controls .mejs-time span { margin-right: 0 !important; color: rgba(255,255,255,0.6) !important;}
.mejs-controls .mejs-time-rail .mejs-time-float { background: #ffffff !important; border: none !important; }
.mejs-controls .mejs-time-rail .mejs-time-float-corner { border-color: #ffffff transparent transparent !important; }

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total { top:12px !important; }
.mejs-controls a.mejs-horizontal-volume-slider { width: 50px !important; }
.mejs-controls .mejs-time-rail .mejs-time-total { margin: 5px 6px !important; }
.mejs-controls .mejs-time-rail span.mejs-time-current, .mejs-controls .mejs-time-rail a.mejs-time-total { height: 3px !important;}


/*=Columns===============================================================================================================================================*/
.sc_column_item { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-sizing: border-box; min-height:1px; }


/*=Google map============================================================================================================================================*/
.sc_googlemap img { max-width: none; }


/*=Toggle================================================================================================================================================*/

.sc_toggles .sc_toggles_content { overflow: hidden; display: none; font-weight: 300; margin:0; }
.sc_toggles .sc_toggles_item .sc_toggles_title { text-align:left; }
.sc_toggles .sc_toggles_item .sc_toggles_title:before { content: '\e82d'; font-family: "fontello"; width:35px; height:35px;display:block; text-align:center; line-height:36px; font-size:16px; text-indent:1px; position:absolute; font-weight: 100; }


/*toggle style 1*/
.sc_toggles.sc_toggles_style_1 { margin:0 0 50px 0;}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item { border-top:1px solid transparent; }
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title { cursor:pointer; padding: 25px 20px 25px 75px; position:relative; background: #f5f7f9; }
.sc_toggles.sc_toggles_style_1 .sc_toggles_item.sc_active .sc_toggles_title { cursor:default; }
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_content { padding: 25px 30px 25px 75px; }
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title:before {  border:2px solid #ff5440; left: 20px; top: 18px; }
.sc_toggles.sc_toggles_style_1 .sc_toggles_item.sc_active .sc_toggles_title:before { color: #ffffff; }
.sc_toggles.sc_toggles_style_1 .sc_toggles_item_large .sc_toggles_title:before { top: 21px; }
.sc_toggles.sc_toggles_style_1 .sc_toggles_item_large .sc_toggles_title { text-transform: uppercase; }

/*toggle style 2*/
.sc_toggles.sc_toggles_style_2 { margin:0 0 50px 0;}
.sc_toggles.sc_toggles_style_2 .sc_toggles_item + .sc_toggles_item { border-width: 1px 0 0 0; border-style: dashed; border-color: #e8e9e9; }
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title { font-weight: 600; line-height: 25px; font-size: 18px; text-transform: none; cursor:pointer; padding:30px 20px 30px 55px; position:relative; }
.sc_toggles.sc_toggles_style_2 .sc_toggles_item.sc_active .sc_toggles_title{ cursor:default; }
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_content{ padding: 0 25px 30px 55px; }
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title:before { border:2px solid #ff5440; left: 0; top: 24px; }
.sc_toggles.sc_toggles_style_2 .sc_toggles_item.sc_active .sc_toggles_title:before { color: #ffffff; }
.sc_toggles.sc_toggles_style_2 .sc_toggles_item_large .sc_toggles_title { font-size:25px; line-height:30px; }
.sc_toggles.sc_toggles_style_2 .sc_toggles_item_large .sc_toggles_title:before { top:25px; }





/*toogle counter*/
.sc_toggles.sc_show_counter .sc_toggles_item .sc_toggles_title { padding-right: 0; }
.sc_toggles.sc_show_counter .sc_toggles_item .sc_toggles_title span.sc_items_counter { display:inline-block; width:50px; position: absolute; right: 0;}

/*Dropcaps*/
.sc_dropcaps .sc_dropcap { position: relative; color: #fff; font-size: 25px; display: inline-block; width: 50px; height: 50px; float: left; text-align: center; line-height: 48px; margin: 0 12px 0 0 ; font-weight: 600;}
.sc_dropcaps .sc_dropcap:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 0;
    border: none;
    bottom: 0;
}
.sc_dropcaps.sc_dropcaps_style_6 .sc_dropcap{ color: #3f3a3a;}

/*tooltip*/
.sc_tooltip_parent { text-decoration: none; border-bottom-width: 1px; border-bottom-style: solid;  position: relative; }
.sc_tooltip_parent .sc_tooltip { position: absolute; color: #fff; white-space: nowrap; top: -39px !important; left: 50% !important; margin-left: -46px; padding: 3px 8px; z-index: 2; display: none;}
.sc_tooltip_parent .sc_tooltip:before{ content: ''; width: 8px; height: 8px; position: absolute;  left: 50%; bottom: -2px; margin-left: -4px; z-index: 1;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
}

/*price*/
.sc_price_item { height:50px; width:auto; display:inline-block; position:relative; margin:10px auto 10px auto;}
.sc_price_item .sc_price_currency { position:absolute; top:9px; left:-16px; font-size:26px; font-weight:600; }
.sc_price_item .sc_price_money { font-size:50px; height:55px; line-height:55px; font-weight:600; float:left; }
.sc_price_item .sc_price_info { height:55px; padding:0; float:left; text-align:left; display: table;}
.sc_price_item .sc_price_penny { font-size:24px; line-height:35px; height:35px; font-weight:400;}
.sc_price_item .sc_price_period { font-size:13px; line-height:18px; display: table-cell; vertical-align: bottom; font-weight: 400; }
.sc_price_item .sc_price_period, .dark .sc_price_item .sc_price_period,
.sc_price_item .sc_price_currency, .dark .sc_price_item .sc_price_currency { color:#888888; }


/*=Countdown===============================================================================================================================================*/

/*flip*/
.sc_countdown { text-align: center;}
.sc_countdown_counter.flip-clock-wrapper { height:115px; display: inline-block; margin:0 auto; }

/*round*/
.sc_countdown.sc_countdown_square{ text-align: center; padding: 10px 0; }
.sc_countdown.sc_countdown_square .sc_countdown_counter .countdown-section + .countdown-section { margin: 0 0 0 30px; }
.sc_countdown.sc_countdown_square .sc_countdown_counter .countdown-section { position: relative; text-align: center; display: inline-block; width: 127px; height: 127px;}
.sc_countdown.sc_countdown_square .sc_countdown_counter .countdown-section .countdown-amount{ display: block; color: #ffffff; font-size: 50px; line-height: 50px; margin: 17px 0 0 0; font-weight: 600;}
.sc_countdown.sc_countdown_square .sc_countdown_counter .countdown-section .countdown-period{ position: relative; display: block; color: #ffffff; padding: 7px 0 0 0; margin-top: 10px; font-size: 14px; line-height: 16px; font-weight: 300; text-transform: lowercase; }
.sc_countdown.sc_countdown_square .sc_countdown_counter .countdown-section .countdown-period:before{
    display: block;
    width: 50px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    content: "";
    text-align: center;
    top: 0;
    left: 50%;
    margin-left: -25px;
}
.sc_countdown.sc_countdown_square .sc_countdown_counter .countdown-section:after {
    background-color: rgba(0, 0, 0, 0.15);
    border: medium none;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}


/*=Icon===============================================================================================================================================*/
.sc_icon { display:inline-block; padding-right: 6px; }
.sc_icon[class*=" icon-"]:before { margin:0; }
.sc_icon_square, .sc_icon_round { display:inline-block; padding: 4px; text-align:center; }
.sc_icon_square { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.sc_icon_round { -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
.sc_icon_square[class*=" icon-"]:before, .sc_icon_round[class*=" icon-"]:before { margin:0 auto;}

/* -- Link -- */



/* Effect 1 */
a.sc_icon.no_bg_icon.sc_icon_round:before,
a.sc_icon.bg_icon.sc_icon_round:before {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
a.sc_icon.bg_icon.sc_icon_round,
a.sc_icon.no_bg_icon.sc_icon_round {
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
a.sc_icon.bg_icon.sc_icon_round:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    background: inherit;
    -webkit-transition: background-color 1.3s ease-out;
    -moz-transition: background-color 1.3s ease-out;
    -ms-transition: background-color 1.3s ease-out;
    -o-transition: background-color 1.3s ease-out;
    transition: background-color 1.3s ease-out;
    border-radius: 50%;
    box-sizing: content-box;
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
}
a.sc_icon.bg_icon.sc_icon_round:hover:after {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.3s;
    -moz-transition: -moz-transform 0.5s, opacity 0.3s;
    transition: transform 0.5s, opacity 0.3s;
}
a.sc_icon.bg_icon.sc_icon_round:hover,
a.sc_icon.no_bg_icon.sc_icon_round:hover { background-color: #392071 !important; }
a.sc_icon.bg_icon.sc_icon_round:hover:after {
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
}
a.sc_icon.bg_icon.sc_icon_round:hover:before,
a.sc_icon.no_bg_icon.sc_icon_round:hover:before { color: #ffffff; }

/* Effect 2 */
a.sc_icon.no_bg_icon.sc_icon_round:after {
    opacity: 0;
    top: 0;
    left: 0;
    padding: 0;
    background: inherit;
    border-radius: 50%;
    box-sizing: content-box;
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    -webkit-transition: background-color 1.3s ease-out;
    -moz-transition: background-color 1.3s ease-out;
    -ms-transition: background-color 1.3s ease-out;
    -o-transition: background-color 1.3s ease-out;
    transition: background-color 1.3s ease-out;
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    transform: scale(1.8);
}
a.sc_icon.no_bg_icon.sc_icon_round:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.7s;
    -moz-transition: -moz-transform 0.5s, opacity 0.7s;
    transition: transform 0.5s, opacity 0.7s;
}
a.sc_icon.no_bg_icon.sc_icon_round:before {
    position: relative;
    z-index: 1;
    opacity: 1;
}

/*=Image===============================================================================================================================================*/

.sc_image_align_left, .sc_alignleft { display: inline; float: left !important; margin-right: 3em !important; margin-left:0 !important; }
.sc_image_align_right, .sc_alignright { display: inline; float: right !important; margin-left: 3em !important; margin-right:0 !important; }

.sc_image_align_center img, .sc_aligncenter img,
.sc_image_align_left img, .sc_alignleft img,
.sc_image_align_right img, .sc_alignright img { width: 100%;}

.sc_image_align_center, .sc_aligncenter { display: block; float: none !important; clear:both; margin-left: auto !important; margin-right: auto !important; text-align:center; }

.sc_image_shape_round { display: block; position:relative; overflow:hidden; border-radius: 100%; }
.sc_image_shape_round figcaption,
.post .sc_image_shape_round figcaption { position:absolute; height:auto; line-height:1.4em; left:0; top:0; right:0; bottom:0; background-color: rgba(0,0,0,0.6); color: #ffffff; text-align:center;
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
}
/* Not work correctly in Chrome */
.sc_image_shape_round:hover figcaption {  
	   -moz-transform: rotate(360deg);
	     -o-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
}
.sc_image_shape_round figcaption span:before { display:block; margin: 35% auto 0.5em; position:static; }
.sc_image_shape_round figcaption span { display:block; margin: 0 auto; color: #ffffff !important; font-size:1.5em; }


/*hover as link*/
a.sc_image_hover {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
a.sc_image_hover .img_hover {
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
}
a.sc_image_hover:hover .img_hover {
    opacity: 1;
    filter: alpha(opacity=100);
}







/*hover as link - icon*/


a.sc_image_hover_link {
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
}
a.sc_image_hover_link .hoverShadow {
    display: inline-block;
    overflow: inherit;border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    z-index: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

a.sc_image_hover_link .hoverShadow:after {
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

a.sc_image_hover_link:hover .hoverShadow {
    opacity: 0.95;
    filter: alpha(opacity=95);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
}



a.sc_image_hover_link .hoverLink {
    height: 54px;
    margin: -27px 0 0 -27px;
    position: absolute;
    top: 55%;
    left: 50%;
    width: 54px;
    z-index: 1;
    border: 2px solid transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

a.sc_image_hover_link .hoverLink:before {
    display: block;
    position:absolute;
    z-index:10;
    content: '\e888';
    font-family: "fontello";
    color: #fff;
    text-align: center;
    top: 0;
    left: 0;
    width:54px;
    height:54px;
    font-size:16px;
    line-height:54px;
    margin:0;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
a.sc_image_hover_link:hover .hoverLink {
    border-color: #ffffff;
    top: 50%;
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}







/*=Infoboxes==================================================================================================================================================================*/
.sc_infobox{ position: relative; margin:0 0 20px 0; color:#ffffff; font-size:14px; font-weight:300; padding:30px 60px 30px 55px; clear: both; line-height: 20px; text-transform: uppercase; letter-spacing: 2px; }
.sc_infobox b, .sc_infobox strong, .result.sc_infobox  { font-weight: 600; }
.sc_infobox p { display: block; font-size: 14px; padding: 0; margin: 0;}
.sc_infobox h4 { text-align:left; }

.sc_infobox.sc_infobox_style_info { background-color:#40c6d7; }
.sc_infobox.sc_infobox_style_success {  background-color:#97b714; }
.sc_infobox.sc_infobox_style_warning {  background-color:#ffca44; }
.sc_infobox.sc_infobox_style_error { background-color:#ff5440;  }
.sc_infobox.sc_infobox_style_regular { color:#232a34; background-color:#f6f5f3;  }
.sc_infobox.sc_infobox_style_regular h4 { color:#232a34; }

.sc_infobox.sc_infobox_style_success p,
.sc_infobox.sc_infobox_style_error p,
.sc_infobox.sc_infobox_style_warning p,
.sc_infobox.sc_infobox_style_info p { color: #ffffff;}

.sc_infobox.sc_infobox_closeable{ cursor: pointer; }
.sc_infobox.sc_infobox_closeable:after { background-color: rgba(255, 255, 255, 0.2);
    content: '\e813';
    font-family: "fontello";
    cursor:pointer;
    font-size:11px;
    line-height:21px;
    width:20px;
    height:20px;
    display:block;
    position: absolute;
    top: 50%;
    right: 30px;
    color:#fff;
    margin:-10px 0 10px 10px;
    text-align: center;
    text-indent: 3px;
}
.sc_infobox.sc_infobox_closeable.sc_infobox_style_regular:after { background-color: rgba(255, 255, 255, 1); color: #777d80; }
.sc_infobox.sc_infobox_style_regular:after{ color:#232a34; }
.sc_infobox:before {
    font-family: "fontello";
    font-size:14px;
    line-height:17px;
    width:18px;
    height:18px;
    display:block;
    color:#fff;
    margin: -9px 0 0 0;
    text-align: left;
    text-indent: 0;
    position: absolute;
    top: 50%;
    left: 30px;
}
.sc_infobox.sc_infobox_style_info:before { content: '\e831'; }
.sc_infobox.sc_infobox_style_success:before { content: '\e82d'; }
.sc_infobox.sc_infobox_style_warning:before { content: '\e82f'; }
.sc_infobox.sc_infobox_style_error:before { content: '\e82f'; }
.sc_infobox.sc_infobox_style_regular:before { content: '\e85b'; color:#232a34; }


/*=Table===============================================================================================================================================*/
.sc_table table {  border-collapse:separate; }
.sc_table table th,
.sc_table table td { border-left-width:0; border-top-width:0; }
.sc_table table tr th:first-child,
.sc_table table tr td:first-child { border-left-width:1px; }
.sc_table table thead tr:first-child th,
.sc_table table thead tr:first-child td { border-top-width:1px; }
.sc_table table tr.odd td { background-color:#f5f5f5;}
.sc_table table th { text-align:center; }
.sc_table table th,
.sc_table table td { vertical-align:middle; padding:10px; }

.sc_table.sc_table_size_small table th,
.sc_table.sc_table_size_small table td {  padding:4px; }

.sc_table.sc_table_size_big table th,
.sc_table.sc_table_size_big table td {  padding:20px; }

.sc_table.sc_table_size_no_indentation table th,
.sc_table.sc_table_size_no_indentation table td {  padding:0; }

.sc_table a.sc_image { display: block; }

.sc_table.sc_table_align_center table th,
.sc_table.sc_table_align_center table td,
.sc_table_grey th, .sc_table_grey td { text-align:center; }

.sc_table.sc_table_align_right table th,
.sc_table.sc_table_align_right table td { text-align:right; }

.sc_table table thead th,
.sc_table table th { text-transform:uppercase; font-size: 14px; font-weight: 600; letter-spacing: 0.5px;}
.sc_table table td span { color:#232a34;}
.sc_table table td i { font-size:12px;}

.sc_table table tr:hover { background-color: rgba(5, 209, 212, 0.15);}

/* table style 1 */
.sc_table.sc_table_style_1 thead th,
.sc_table.sc_table_style_1 thead td { color:#232a34; }
.sc_table.sc_table_style_1 tfoot th,
.sc_table.sc_table_style_1 tfoot td,
.sc_table.sc_table_style_1 table thead tr th,
.sc_table.sc_table_style_1 table thead tr td,
.sc_table.sc_table_style_1 table tfoot tr th,
.sc_table.sc_table_style_1 table tfoot tr td { background-color:#f6f5f3; }


/*highlights*/
.sc_highlight.sc_highlight_style_1 { text-decoration: none; display: inline-block; color: #fff; padding: 0 4px;}
.sc_highlight.sc_highlight_style_2 { text-decoration: none; font-weight: 600;}

/*pricing table*/
.sc_pricing_table.alignLeft{ text-align: left; }
.sc_pricing_table.alignCenter{ text-align: center;}
.sc_pricing_table.alignRight{ text-align: right; }

.sc_pricing_table.columns_1 .sc_pricing_columns{ width: 100%; }
.sc_pricing_table.columns_2 .sc_pricing_columns{ width: 50%; }
.sc_pricing_table.columns_3 .sc_pricing_columns{ width: 33.3333%; }
.sc_pricing_table.columns_4 .sc_pricing_columns{ width: 25%; }
.sc_pricing_table.columns_5 .sc_pricing_columns{ width: 20%; }
.sc_pricing_table.columns_6 .sc_pricing_columns{ width: 16.6666%; }
.sc_pricing_table.columns_7 .sc_pricing_columns{ width: 14.2857%; }
.sc_pricing_table.columns_8 .sc_pricing_columns{ width: 12.5%; }
.sc_pricing_table.columns_9 .sc_pricing_columns{ width: 11.1111%; }
.sc_pricing_table.columns_10 .sc_pricing_columns{ width: 10%; }

.sc_pricing_table:after{ content: ''; display: block; height: 0; clear: both;}
.sc_pricing_table .sc_pricing_columns{ float: left; }


.sc_pricing_table > div { -moz-box-sizing: border-box; box-sizing: border-box; }
.sc_pricing_table > div + div { border-color: #ffffff; border-left: 1px solid rgba(142, 144, 146, 0.2);}
.sc_pricing_table .sc_pricing_columns ul { margin: 0; padding: 0; width: 100%; position: relative; z-index: 1; -moz-box-sizing: border-box; box-sizing: border-box; }
.sc_pricing_table .sc_pricing_columns ul li{ list-style: none; display: block; padding: 10px; line-height:18px; overflow:hidden; }
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_united{  border: none; height: 90px; text-align: center; line-height: 33px; padding-top:67px; color: #888888; font-size: 18px; font-weight: 300; }
.sc_pricing_table .sc_pricing_columns ul li b{ color: #222222; text-transform: uppercase; font-weight: 400;}
.sc_pricing_table .sc_pricing_columns ul li i{font-size: 12px;}
.sc_pricing_table .sc_pricing_columns ul,
.sc_pricing_table .sc_pricing_columns ul li {
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;  }
.sc_pricing_table .sc_pricing_columns ul li .sc_icon{ width: 16px; height: 16px; display: inline-block;  vertical-align: middle; }
.sc_pricing_table .sc_pricing_columns ul li .sc_icon:before{ font-family: "fontello";  display: block; width: 16px; height: 16px; line-height: 16px; text-align: center; font-size: 16px; }

.sc_pricing_light .sc_pricing_columns:hover ul.columnsAnimate,
.sc_pricing_light .sc_pricing_columns.active ul.columnsAnimate,
.sc_pricing_light .sc_pricing_columns { background-color: #f6f5f3; }

.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_title{ position: relative; text-transform: uppercase; font-size: 12px; letter-spacing: 1px; font-weight: 400; border: none; height: auto; padding: 35px 0 0; line-height: 20px;}
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_title_img{ padding: 0; border: none; height:auto;}
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_title_img img{ width: 100%; display: block;}
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_footer{ background-color: #fcfcfc; height: 40px; }
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_footer .squareButton { margin: 5px 0 0 0 ; }

.sc_pricing_table .sc_pricing_columns ul.columnsAnimate li.sc_pricing_price,
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_price{ position: relative; padding: 0 0 27px !important; margin-bottom: 25px; margin-top: -5px; height: auto; }


.sc_pricing_table .sc_pricing_columns ul.columnsAnimate li.sc_pricing_price:before,
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_price:before {
    background-color: rgba(0, 0, 0, 0.15);
    border: medium none;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.sc_pricing_table .sc_pricing_columns:hover ul.columnsAnimate li.sc_pricing_price{ background: #fff; }


/*style light*/


.sc_pricing_table > div + div { border-color: #ffffff; border-left: 1px solid rgba(142, 144, 146, 0.2);}
.sc_pricing_light  > div ul { border-bottom: 3px solid #f6f5f3; }
.sc_pricing_light  > div:first-child ul:before,
.sc_pricing_light  > div:last-child ul:before{
    background-color: #f6f5f3;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    width: 3px;
}
.sc_pricing_light  > div:last-child ul:before {
    right: 0;
    left: auto;
}
.sc_pricing_table .sc_pricing_columns ul li
{ color: #85817b; }
.sc_pricing_light .sc_pricing_columns ul
{ background: #ffffff; }
.sc_pricing_light .sc_price_item .sc_price_period,
.sc_pricing_light .sc_price_item .sc_price_currency,
.sc_pricing_light .sc_price_item .sc_price_money,
.sc_pricing_light .sc_price_item .sc_price_penny
{ color:#ffffff; }
.sc_pricing_light .sc_pricing_columns:hover ul.columnsAnimate .sc_price_item .sc_price_currency,
.sc_pricing_light .sc_pricing_columns:hover ul.columnsAnimate .sc_price_item .sc_price_money,
.sc_pricing_light .sc_pricing_columns:hover ul.columnsAnimate .sc_price_item .sc_price_penny,
.sc_pricing_light .sc_pricing_columns ul.columnsAnimate .sc_pricing_title,
.sc_pricing_light .sc_pricing_columns:hover ul.columnsAnimate .sc_pricing_title
{ color: #ffffff !important; }
.sc_pricing_light .sc_pricing_data > span
{ color: #232a34; }


/*style dark*/
.sc_pricing_dark .sc_pricing_columns ul
{ background: #302021; }
.sc_pricing_dark .sc_price_item .sc_price_period,
.sc_pricing_dark .sc_pricing_columns ul li
{ color:#9da5a8; }
.sc_pricing_dark .sc_price_item .sc_price_currency,
.sc_pricing_dark .sc_price_item .sc_price_money,
.sc_pricing_dark .sc_price_item .sc_price_penny,
.sc_pricing_dark .sc_pricing_columns ul li.sc_pricing_title,
.sc_pricing_dark .sc_pricing_data > span
{ color:#ffffff; }
.sc_pricing_dark .sc_pricing_columns:hover ul.columnsAnimate .sc_price_item .sc_price_currency,
.sc_pricing_dark .sc_pricing_columns:hover ul.columnsAnimate .sc_price_item .sc_price_money,
.sc_pricing_dark .sc_pricing_columns:hover ul.columnsAnimate .sc_price_item .sc_price_penny
{ color: #ffffff; }
.sc_pricing_dark .sc_pricing_columns .sc_pricing_title,
.sc_pricing_dark .sc_pricing_columns:hover ul.columnsAnimate li.sc_pricing_title,
.sc_pricing_dark .sc_pricing_columns ul li.sc_pricing_price
{ background-color:#211617; }
.sc_pricing_dark .sc_pricing_columns:hover ul.columnsAnimate .sc_pricing_title,
.sc_pricing_dark .sc_pricing_columns:hover ul.columnsAnimate li.sc_pricing_title,
.sc_pricing_dark .sc_pricing_columns:hover ul.columnsAnimate li.sc_pricing_price
{ background-color:#211617; }
.sc_pricing_dark > div + div { border-color: #333740; }

.sc_pricing_dark .sc_pricing_columns:hover ul.columnsAnimate,
.sc_pricing_dark .sc_pricing_columns.active ul.columnsAnimate { background-color: #3b2c2c; }


/*=Scroll==================================================================================================================================================================*/

.sc_scroll { overflow: hidden; width: 100%; position:relative; }
.sc_scroll_wrapper { overflow: hidden; }
.sc_scroll_horizontal .sc_scroll_wrapper {
	width: 100000px;
}
.sc_scroll_bar { background:transparent; position:absolute; z-index:100; }
.sc_scroll_vertical .sc_scroll_bar {
	right:1px;
	top:0;
	bottom:0;
	width:10px;
	border-right:2px solid #e0e2e4;
}
.sc_scroll_horizontal .sc_scroll_bar {
	right:0;
	left:0;
	bottom:1px;
	height:10px;
	border-bottom:2px solid #e0e2e4;
}
.sc_scroll_bar .swiper-scrollbar-drag { background:none !important; }
.sc_scroll_vertical .sc_scroll_bar .swiper-scrollbar-drag { width:10px; left:1px; }
.sc_scroll_horizontal .sc_scroll_bar .swiper-scrollbar-drag { height:10px; top:1px; }
.sc_scroll_bar .swiper-scrollbar-drag:before { content:''; display:block; position:absolute; background: #392071; }
.sc_scroll_vertical .sc_scroll_bar .swiper-scrollbar-drag:before { width:2px; right:-1px; top:0; bottom:0; height:100%; }
.sc_scroll_horizontal .sc_scroll_bar .swiper-scrollbar-drag:before { height:2px; left:0; right:0; bottom:-1px; width:100%; }
.sc_scroll_horizontal { padding-bottom:6px; }
.sc_scroll_vertical { padding-right:6px; }
.sc_scroll_vertical .swiper-slide { float: none; display:block; }
.sc_scroll_controls { position:relative; }
.sc_scroll_controls:not(.sc_scroll_controls_horizontal) ul.flex-direction-nav { position: absolute; top:-80px; right:0; list-style:none; margin:0; padding:0; width:84px; height:44px; overflow:hidden; }
.sc_scroll_controls ul.flex-direction-nav li { list-style:none; margin:0; padding:0; position:static; }
.sc_scroll_controls ul.flex-direction-nav li:before { display:none; }
.sc_scroll_controls ul.flex-direction-nav a { width: 37px; height: 37px; display: block; position: absolute; z-index: 10; left:auto; top: 4px; text-align:center; border: 1px solid #ddd; font-size:18px; margin:0; opacity:1 !important; text-shadow:none; }
.sc_scroll_controls ul.flex-direction-nav a:before { line-height:38px; color: #888888; font-family:Fontello; font-size:inherit; }
.sc_scroll_controls ul.flex-direction-nav a.flex-prev { right: 42px; }
.sc_scroll_controls ul.flex-direction-nav a.flex-next { right: 0; }

.sc_scroll_controls.sc_scroll_controls_type_side { padding-left: 40px; padding-right: 40px; }
.sc_scroll_controls.sc_scroll_controls_type_side ul.flex-direction-nav { position: static; overflow:visible; width:0; height: 0; }
.sc_scroll_controls.sc_scroll_controls_type_side ul.flex-direction-nav a { top: 50%; margin-top:-18px;}

.sc_scroll_controls.sc_scroll_controls_type_side ul.flex-direction-nav a.flex-prev { left: 0; right: auto;}
.sc_scroll_controls.sc_scroll_controls_type_side ul.flex-direction-nav a.flex-next { right: 0;}

.bg_tint_dark .sc_scroll_controls.sc_scroll_controls_type_side ul.flex-direction-nav a:before { color: rgba(255,255,255,0.6); }
.bg_tint_dark .sc_scroll_controls.sc_scroll_controls_type_side ul.flex-direction-nav a:hover:before { color: #ffffff; }

.sc_section.sc_scroll_controls_horizontal.sc_scroll_controls { position:relative; padding: 0 80px; overflow: hidden;}
.sc_section.sc_scroll_controls_horizontal.sc_scroll_controls .flex-direction-nav { list-style:none; margin:0; padding:0; height: auto; position: initial; width: 100%; }
.sc_section.sc_scroll_controls_horizontal.sc_scroll_controls .flex-direction-nav li { width: 42px; height: 100%; display: block; position: absolute; top: 0; right: 0; bottom:0; z-index: 10; margin:0; }
.sc_section.sc_scroll_controls_horizontal.sc_scroll_controls .flex-direction-nav li a:hover { color: #ffffff; }
.sc_section.sc_scroll_controls_horizontal.sc_scroll_controls .flex-direction-nav li a { background: #f6f7f9; position: absolute; display: block; width: 40px; height: 40px; top:50%; margin-top: -20px; font-size:20px;}
.sc_section.sc_scroll_controls_horizontal.sc_scroll_controls .flex-direction-nav li a:before { font-family: "fontello"; display: block; width: 40px; height: 40px; position: absolute; top: 0;  font-size:20px; margin: 0 ; text-align: center; line-height: 41px;}
.sc_section.sc_scroll_controls_horizontal.sc_scroll_controls .flex-direction-nav li a.flex-prev:before{ content: '\e803'; left: 0;}
.sc_section.sc_scroll_controls_horizontal.sc_scroll_controls .flex-direction-nav li a.flex-next:before{ content: '\e804'; right: 0;}
.sc_section.sc_scroll_controls_horizontal.sc_scroll_controls .flex-direction-nav li { left: -100px; }
.sc_section.sc_scroll_controls_horizontal.sc_scroll_controls .flex-direction-nav li+li{ left:auto; right: -100px;}
.sc_section.sc_scroll_controls_horizontal.sc_scroll_controls .flex-direction-nav a.flex-prev { right: 0; }
.sc_section.sc_scroll_controls_horizontal.sc_scroll_controls:hover ul.flex-direction-nav li { left: 38px; right: auto; }
.sc_section.sc_scroll_controls_horizontal.sc_scroll_controls:hover ul.flex-direction-nav li + li { left: auto; right: 38px; }


/*=Section==================================================================================================================================================================*/

.sc_section:not(.sc_scroll_controls) { overflow: hidden; background-position: center center; }
.sc_section.bg_tint_dark,
.sc_section.bg_tint_dark a { color: #ffffff; }

.sc_section figure { display: inline-block; /*width: 100%;*/ }

.sc_pan { position:absolute; width:100%; box-sizing: border-box; -moz-box-sizing: border-box; }

.sc_pan_vertical,
.sc_pan_horizontal { cursor: all-scroll; }

.sc_section.style_border_top,
.sc_section.style_border_bottom { position: relative; }
.sc_section.style_border_top:before {
    background-image: url("../skins/general/images/bg_top.png");
    background-repeat: repeat-x;
    background-position: center center;
    position: absolute;
    top:0;
    left: 0;
    height: 7px;
    width: 100%;
    content: " ";
    z-index: 1;
    background-color: transparent;
}
.sc_section.style_border_bottom:after {
    background-image: url("../skins/general/images/bg_top_bottom.png");
    background-repeat: repeat-x;
    background-position: center center;
    position: absolute;
    left: 0;
    bottom:0;
    height: 7px;
    width: 100%;
    content: " ";
    background-color: transparent;
}



.sc_section.box_style {
    margin: 8px;
}

.sc_section.box_style:before {
    border: 10px solid #fff;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.sc_section.box_style.pan_in { cursor: all-scroll; }

/*=Skills==================================================================================================================================================================*/

.sc_skills { width: 100%; }

/*skills Percent*/
.sc_skills_percent .skillsWrap{ text-align:center; }
.sc_skills_percent .skillsWrap:after{ content:''; height:0; display:block; clear:both;}
.sc_skills_percent .skillsWrap .sc_skills_item{ display: inline-block; text-align:center;}
.sc_skills_percent .skillsWrap .sc_skills_item .sc_skills_count{ font-size:72px; line-height:60px; height:93px; font-weight:100;}
.sc_skills_percent .skillsWrap .sc_skills_item .sc_skills_count .sc_skills_total:after{ content:'%';}
.sc_skills_percent .skillsWrap .sc_skills_item .sc_skills_info{ font-size:18px; font-weight:300;}

.sc_skills_percent .skillsWrap.sc_slillsVertical .sc_skillsColumns{ float: none; }

.sc_skills_percent .skillsWrap.sc_slillsHorizontal .sc_skillsColumns{ padding:0 0 50px 0;  margin: 0 auto;}
.sc_skills_percent .skillsWrap.sc_slillsHorizontal .sc_skillsColumns:after{ content: ''; height: 0; display: block; clear: both;}
.sc_skills_percent .skillsWrap.sc_slillsHorizontal .sc_skillsColumns .sc_skills_item{ }
.sc_skills_percent .skillsWrap.sc_slillsHorizontal .sc_skillsColumns .sc_skills_info{ }

/*skills bar*/
.sc_skills_bar { padding: 0 0 50px 0;}
.sc_skills_bar .sc_skills_wrap {  margin:0; height:4px; background:#f5f7f9; position:relative;}
.sc_skills_bar .sc_skills_item.sc_skills_style_bar_2 .sc_skills_wrap {  margin:0; height:0; background: none;}
.sc_skills_bar .sc_skills_item .sc_skills_count { text-align:right; width:0; height:4px; border-width:1px; border-style: solid; color:#fff;  position:absolute; left:-1px; top:-1px; z-index:2;}
.sc_skills_bar .sc_skills_info { min-height: 20px; padding:10px 0 4px 0; color: #232a34; font-weight: 600; text-transform: uppercase; letter-spacing: 2px; }
.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_item { background:#f5f7f9; height: 500px; position: relative; }
.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_item .sc_skills_count { width: 100%; height: auto; position: absolute; top: auto; bottom: -1px; }
.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_total { text-align: center; font-size: 20px; width: 100%; line-height: 100px; font-weight: 100; }
.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_column { text-align:center; }

.sc_skills_bar.sc_skills_horizontal .sc_skills_total { text-align: right; padding-top: 10px; padding-left: 10px; float: right; }
.sc_skills_bar.sc_skills_horizontal .sc_skills_item + .sc_skills_item { margin-top: 14px; }
.sc_skills_bar.sc_skills_horizontal .sc_skills_item.sc_skills_style_bar_2 .sc_skills_wrap { border-top: 4px dotted #f5f7f9; }
.sc_skills_bar.sc_skills_horizontal.sc_bar_2 { background: none; }
.sc_skills_bar.sc_skills_horizontal .sc_skills_item.sc_skills_style_bar_2 .sc_skills_count { margin-top: -4px; }

/*skills diagram*/
.sc_skills_arc { padding:0; overflow:hidden; }
.sc_skills_arc .sc_skills_legend { width:30%; float:left;}
.sc_skills_arc .sc_skills_legend ul { margin:0; padding:0; text-align:center; overflow:hidden; }
.sc_skills_arc .sc_skills_legend li { display: block; float: left; clear:both; list-style:none; margin:0 0 10px 0; padding:0 15px; height:30px; line-height:30px; color:#fff; font-size:16px; font-weight:300;}
.sc_skills_arc  .sc_skills_arc_canvas { min-width:100px; min-height:100px; float:left;}

/*pie chart*/
.sc_skills_pie { text-align: center; display: inline-block; }
.sc_skills_pie .sc_skills_item  { position: relative; color: #232a34; margin: 0 25px;}

body.fullscreen .sc_skills_pie .sc_skills_item,
.without_sidebar .sc_skills_pie .sc_skills_item { margin: 0 45px;}
body.fullscreen .sc_skills_pie .sc_skills_item .sc_skills_total,
.without_sidebar .sc_skills_pie .sc_skills_item .sc_skills_total { font-size: 40px; }

.sc_skills_pie .columns1_5 .sc_skills_item  { position: relative; color: #232a34; margin: 0 10px; }
.sc_skills_pie .sc_skills_total {
    font-size: 40px;
    line-height: 100%;
    margin-top: -22px;
    position: absolute;
    top: 50%;
    width: 100%;
    color: #232a34;
}
.sc_skills_pie .columns1_4 .sc_skills_total { font-size: 36px; margin-top: -22px; font-weight: 300; }
.sc_skills_pie .columns1_5 .sc_skills_total { font-size: 20px; margin-top: -12px; font-weight: 300; }
.sc_skills_pie .sc_skills_info { min-height: 25px; padding:8px 0 4px 0; color: #4f4a4a; font-weight: 600; font-size: 20px;  line-height: 28px; letter-spacing: 1px; }


/*counter*/
.sc_skills_counter{  text-align: center; }
.sc_skills_counter .sc_skills_item { text-align: center; display: inline-block; padding: 0 10px; margin: 0 0 50px 0;}
.sc_skills_counter .sc_skills_item .sc_skills_count { font-size: 60px; line-height: 65px; margin: 0 0 10px 0;}
.sc_skills_counter .sc_skills_item .sc_skills_info { color: #222; font-size: 18px; font-weight: 300; line-height: 24px; padding: 0 0 10px 0;}
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_count { font-weight: 600;}
.sc_skills_counter .sc_skills_item.sc_skills_style_2 .sc_skills_count { font-weight: 600;}
.sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count { font-weight: 300; color:#fff;  padding: 0 10px; position: relative; overflow: hidden; font-size: 60px; height: 80px; line-height: 80px; }
.sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count:before{ content: ''; width: 0; height: 0; position: absolute; top: 0; left: 0;
    border-top: 80px solid #fff; 
    border-right: 100px solid transparent;	
	opacity: 0.2;
	filter: alpha(opacity=20);
}




.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count { font-weight: 100; color:#fff; padding: 0 10px; margin: 0; font-size: 60px; line-height: 80px ; height: 80px;}
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info{ color: #fff; padding:  10px; position: relative; border-top: 1px solid #fff; font-size: 16px;}
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info:before { position: absolute; top: 0; left: 0; content: ''; background: #000; z-index: 2; width: 100%; height: 100%;  
	opacity: 0.1;			
	filter: alpha(opacity=10);
}

/*=Title==================================================================================================================================================================*/
.sc_title {	padding: 0 0 10px 0; }
.sc_title_underline { overflow: hidden; padding-bottom:15px; }
.sc_title_underline:after { content:''; display:block; margin:30px auto 15px; height: 10px;
    background-image: url("../skins/general/images/title_underline.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.sc_title.sc_title_align_center.sc_title_iconed { display: inline-block; }




.sc_title_align_left.sc_title_underline:after { margin:30px 0; background-position: left center; }
.sc_title_align_right.sc_title_underline:after { background-position: right center; }
.sc_title_icon { display:block; width: 70px; height: 70px; margin: 0 auto; overflow:hidden; vertical-align: middle; }
.sc_title_icon:before {  font-size: 60px; display: block; width: 70px; height: 70px; text-align: center; line-height: 70px; vertical-align: middle; padding:0; text-indent:0; margin:0; box-sizing: border-box; -moz-box-sizing: border-box; }

.sc_title_icon.sc_size_medium {  font-size: 50px; width:50px; height: 50px; }
.sc_title_icon.sc_size_medium:before {  font-size: 50px; width:50px; height:50px; line-height:50px; }

.sc_title_icon.sc_size_large {  font-size: 60px; width:70px; height: 70px; }
.sc_title_icon.sc_size_large:before {  font-size: 60px; width:70px; height: 70px; line-height: 70px; }

.sc_title_icon.sc_size_big {  font-size: 70px; width:80px; height: 80px; }
.sc_title_icon.sc_size_big:before {  font-size: 70px; width:80px; height:80px; line-height:80px; }

.sc_title_icon.sc_size_huge {  font-size: 80px; width:90px; height: 90px; }
.sc_title_icon.sc_size_huge:before {  font-size: 80px; width:90px; height:90px; line-height:90px; }

.sc_title_icon.sc_title_bg { position: relative; }
.sc_title_icon.sc_title_bg:after {
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}


.sc_title_icon.sc_title_bg:before { font-size: 25px; }
.sc_title_icon.sc_title_icon.sc_size_medium.sc_title_bg:before { font-size: 16px; }
.sc_title_icon.sc_title_bg { color: #fff; }
.global .sc_title_icon:before,
.bg_tint_dark .sc_title_icon:before { color:#fff; }

.sc_title_top { margin: 0 auto 14px; }
.sc_title_left { float: left; margin: 0 20px 15px 0; }
.sc_title_right { float: right; margin: 0 0 15px 20px; }

h1.sc_title .sc_title_icon, .h1.sc_title .sc_title_icon,
h1.sc_title .sc_title_image, .h1.sc_title .sc_title_image { width: 64px; height: 64px;}
h2.sc_title .sc_title_icon, .h2.sc_title .sc_title_icon,
h2.sc_title .sc_title_image, .h2.sc_title .sc_title_image { width: 52px; height: 52px;}
h3.sc_title .sc_title_icon, .h3.sc_title .sc_title_icon,
h3.sc_title .sc_title_image, .h3.sc_title .sc_title_image { width: 39px; height: 39px;}
h4.sc_title .sc_title_icon, .h4.sc_title .sc_title_icon,
h4.sc_title .sc_title_image, .h4.sc_title .sc_title_image { width: 32px; height: 32px;}
h5.sc_title .sc_title_icon, .h5.sc_title .sc_title_icon,
h5.sc_title .sc_title_image, .h5.sc_title .sc_title_image { width: 24px; height: 24px;}
h6.sc_title .sc_title_icon, .h6.sc_title .sc_title_icon,
h6.sc_title .sc_title_image, .h6.sc_title .sc_title_image { width: 22px; height: 22px;}

h1.sc_title .sc_title_icon:before, .h1.sc_title .sc_title_icon:before { width: 64px; height: 64px; font-size: 61px; line-height: 74px;}
h2.sc_title .sc_title_icon:before, .h2.sc_title .sc_title_icon:before { width: 52px; height: 52px; font-size: 50px; line-height: 54px;}
h3.sc_title .sc_title_icon:before, .h3.sc_title .sc_title_icon:before { width: 39px; height: 39px; font-size: 36px; line-height: 36px;}
h4.sc_title .sc_title_icon:before, .h4.sc_title .sc_title_icon:before { width: 32px; height: 32px; font-size: 30px; line-height: 30px;}
h5.sc_title .sc_title_icon:before, .h5.sc_title .sc_title_icon:before { width: 24px; height: 24px; font-size: 20px; line-height: 22px;}
h6.sc_title .sc_title_icon:before, .h6.sc_title .sc_title_icon:before { width: 22px; height: 22px; font-size: 16px; line-height: 20px;}

h1.sc_title .sc_title_icon.sc_title_bg:before, .h1.sc_title .sc_title_icon.sc_title_bg:before { font-size: 49px; line-height: 74px; }
h2.sc_title .sc_title_icon.sc_title_bg:before, .h2.sc_title .sc_title_icon.sc_title_bg:before { font-size: 38px; line-height: 54px; }
h3.sc_title .sc_title_icon.sc_title_bg:before, .h3.sc_title .sc_title_icon.sc_title_bg:before { font-size: 23px; line-height: 44px; }
h4.sc_title .sc_title_icon.sc_title_bg:before, .h4.sc_title .sc_title_icon.sc_title_bg:before { font-size: 18px; line-height: 32px; }
h5.sc_title .sc_title_icon.sc_title_bg:before, .h5.sc_title .sc_title_icon.sc_title_bg:before { font-size: 16px; line-height: 22px; }
h6.sc_title .sc_title_icon.sc_title_bg:before, .h6.sc_title .sc_title_icon.sc_title_bg:before { font-size: 14px; line-height: 20px; }

.sc_title_image { display:block; text-align: center; max-width:70px; }
.sc_title_image.sc_size_small { max-width:30px; }
.sc_title_left.sc_title_image.sc_size_small { margin-right:10px; }
.sc_title_image.sc_size_medium { max-width:70px; }
.sc_title_image.sc_size_large { max-width:100px; }

.sc_title_image .sc_title_left, .sc_title_image .sc_title_right { margin-top: 5px; }

.sc_title_divider { position:relative; padding-left: 5ex; padding-right: 5ex; }
.sc_title_divider .sc_title_divider_before,
.sc_title_divider .sc_title_divider_after { display:block; width:4ex; height:2px; background-color:#222222; position:absolute; top: 50%; margin-top:-3px; }
.sc_title_divider .sc_title_divider_before { left:0; }
.sc_title_divider .sc_title_divider_after { right:0; }

/*=Tabs==================================================================================================================================================*/

.sc_tabs { margin:0 0 50px 0;}
.sc_tabs.padding { padding:30px 40px 25px;}
.sc_tabs ul.sc_tabs_titles { margin: 0; padding:0;}
.sc_tabs_style_1 ul.sc_tabs_titles { margin: 0; }
.sc_tabs ul.sc_tabs_titles:after{ display:block; content:''; height:0; clear:both;}
.sc_tabs ul.sc_tabs_titles li { display:block; float:left; }
.sc_tabs ul.sc_tabs_titles li a { color: #acb4b6; display: block; position: relative; padding: 0; margin: 0; }

.sc_tabs .sc_tabs_content{ position:relative; z-index:2; display: none;  }
.sc_tabs .sc_tabs_content:after{ content: ''; display: block; height:0; clear:both;  }

.sc_tabs ul.sc_tabs_titles li  { letter-spacing: 1px; display:block; padding:8px 27px 8px 0; position:relative; z-index:1; text-transform: uppercase; font-size: 14px; line-height:19px; font-weight: 600;}
.sc_tabs_style_1 ul.sc_tabs_titles li + li  { padding:8px 27px; }
.sc_tabs ul.sc_tabs_titles li.ui-tabs-active a{ color:#222222; z-index:3;}
.sc_tabs_style_1 .sc_tabs_content{ padding: 25px 0 0 0; }

.sc_tabs_style_2 .sc_tabs_titles { float: left; width: 18%; }
.sc_tabs_style_2 .sc_tabs_wrap { overflow: hidden; padding-right: 7px; }
.sc_tabs_style_2 ul.sc_tabs_titles li { margin: 0 20px 20px 0; padding:5px 0 8px 0; clear: both; display: inline-block; float: left; width: auto;}
.sc_tabs_style_2 ul.sc_tabs_titles li + li { padding:8px 0 8px 0;}
.sc_tabs_style_2 .sc_tabs_content{ padding: 0 0 25px; }

.sc_tabs .scroll { height:230px; overflow: hidden; }
.sc_tabs .items:after {content:""; display:block; clear:both; height:0; }
.sc_tabs .items h4 { padding:0 0 20px 0;}
.sc_tabs .items p { padding: 0 0 20px 0; line-height:18px;}
.sc_tabs .items + .items  { padding:20px 0 0 0 ;}
.sc_tabs .items .thumb { width:160px; }
.sc_tabs .items .thumb img { width:100%;}

.sc_tabs ul.sc_tabs_titles li.ui-tabs-active a,
.sc_tabs ul.sc_tabs_titles li a:hover { color: #232a34; }

.sc_tabs ul.sc_tabs_titles li a:after {
    background-color: #000;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: relative;
    top: 5px;
    width: 0;
}
.sc_tabs ul.sc_tabs_titles li a:hover:after,
.sc_tabs ul.sc_tabs_titles li.ui-tabs-active a:after { width: 100%; left: 0; }


/*=Line==================================================================================================================================================*/
.sc_line { display: block; clear: both; width: 100%; margin: 0 0 30px 0; height: 0; border-top-width: 1px; border-style: solid; border-color: #e8e9e9; }
.sc_line.sc_line_style_dashed { border-style: dashed; }
.sc_line.sc_line_style_dotted { border-style: dotted; }
.sc_line.sc_line_style_double { height: 4px; border-bottom-width: 1px; }


/*=gallery==========================================================================================================================================*/
.sc_gallery .galleryPic { display:block;  width: 100%;}
.sc_gallery h4 { font-size: 1.07em; line-height: 140%; height: 3em; padding:0 0 1em; overflow:hidden;}
.sc_gallery .thumb { width:100%; margin:0 0 1em 0 !important;}
.sc_gallery .thumb img { width:100%; display:block;}


/*=slider==========================================================================================================================================*/
.sc_slider { overflow:hidden; }
.sc_slider ul { padding:0; margin:0; list-style:none; }
.sc_slider.sc_slider_autoheight {
 -webkit-transition: height ease .5s;
    -moz-transition: height ease .5s;
     -ms-transition: height ease .5s;
      -o-transition: height ease .5s;
         transition: height ease .5s; 
}

/* Flex Slider */
.sc_slider_chop .cs-activeSlide { display:block; }
.sc_slider_chop .sc_slider_info_slides { display:none; }
.sc_slider_chop .chop-slide > img,
.sc_slider_chop .chop-slide > a > img { width:100%; }

.sc_slider_flex,
.sc_slider_chop,
.sc_slider_swiper { position: relative; overflow: hidden; }
.sc_slider_flex ul.slides,
.sc_slider_chop ul.slides,
.sc_slider_swiper ul.slides { overflow: hidden; margin: 0; }
.sc_slider_flex .slides li,
.sc_slider_chop .slides li,
.sc_slider_swiper .slides li {
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}
.sc_slider_flex:not(.sc_slider_autoheight) .slides li,
.sc_slider_chop:not(.sc_slider_autoheight) .slides li,
.sc_slider_swiper:not(.sc_slider_autoheight) .slides li { min-height:220px; }
.columns2_3 .sc_slider_flex:not(.sc_slider_autoheight) .slides li,
.columns2_3 .sc_slider_chop:not(.sc_slider_autoheight) .slides li,
.columns2_3 .sc_slider_swiper:not(.sc_slider_autoheight) .slides li { min-height:300px; }
.sc_slider_flex ul.slides li,
.sc_slider_chop ul.slides li,
.sc_slider_swiper ul.slides li { list-style: none; margin:0; position: relative; }
.sc_slider_swiper ul.slides li { position: absolute; }
.sc_slider_flex ul.slides li:before,
.sc_slider_chop ul.slides li:before,
.sc_slider_swiper ul.slides li:before { display:none; }
.sc_slider_flex ul.slides li,
.sc_slider_chop ul.slides li { display: none; }

/* Prev / Next controls */
/* Dark squares */
.sc_slider_flex ul.flex-direction-nav,
.sc_slider_chop ul.flex-direction-nav,
.sc_slider_swiper ul.flex-direction-nav {
	list-style:none;
	margin: -25px 0 0 0;
	position:absolute;
	right:0;
	top:50%;
    height: 50px;
    width: 100%;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}
.sc_slider_flex:hover ul.flex-direction-nav li,
.sc_slider_chop:hover ul.flex-direction-nav li,
.sc_slider_swiper:hover ul.flex-direction-nav li { left: 15px; }
.sc_slider_flex:hover ul.flex-direction-nav li + li,
.sc_slider_chop:hover ul.flex-direction-nav li + li,
.sc_slider_swiper:hover ul.flex-direction-nav li + li { left: auto; right: 15px; }
.sc_slider_flex ul.flex-direction-nav li,
.sc_slider_chop ul.flex-direction-nav li,
.sc_slider_swiper ul.flex-direction-nav li {
	list-style: none;
	display:inline-block;
	width:50px;
	height:50px;
	margin: 0;
    background-color: transparent;
    position: absolute;
    left: -75px;
    border: 2px solid #ffffff;
}
.sc_slider_flex ul.flex-direction-nav li + li,
.sc_slider_chop ul.flex-direction-nav li + li,
.sc_slider_swiper ul.flex-direction-nav li + li { left: auto; right: -75px; }
.sc_slider_flex ul.flex-direction-nav li:before,
.sc_slider_chop ul.flex-direction-nav li:before,
.sc_slider_swiper ul.flex-direction-nav li:before { display:none; }
.sc_slider_flex ul.flex-direction-nav a,
.sc_slider_chop ul.flex-direction-nav a,
.sc_slider_swiper ul.flex-direction-nav a {
	font-size: 18px;
	line-height: 52px;
	display:block;
	width: 50px;
	height:50px;
	text-align:center;
    font-family: "fontello";
	color: #ffffff;
	position:static;
	margin:0;
	opacity:1 !important;
	text-shadow:none;
}
.sc_slider_flex ul.flex-direction-nav a:hover,
.sc_slider_chop ul.flex-direction-nav a:hover,
.sc_slider_swiper ul.flex-direction-nav a:hover { color: #302021; }
.sc_slider_flex ul.flex-direction-nav li:hover,
.sc_slider_chop ul.flex-direction-nav li:hover,
.sc_slider_swiper ul.flex-direction-nav li:hover { background-color: #ffffff; }
.sc_slider_flex ul.flex-direction-nav .flex-next:before,
.sc_slider_chop ul.flex-direction-nav .flex-next:before,
.sc_slider_swiper ul.flex-direction-nav .flex-next:before {
    font-family: "fontello";
	font-size:inherit;
	line-height:inherit;
	content:'\e804';
}
.sc_slider_flex ul.flex-direction-nav .flex-prev:before,
.sc_slider_chop ul.flex-direction-nav .flex-prev:before,
.sc_slider_swiper ul.flex-direction-nav .flex-prev:before {
    font-family: "fontello";
	font-size:inherit;
	line-height:inherit;
	content:'\e803';
}
.sc_slider_flex ul.flex-direction-nav li,
.sc_slider_chop ul.flex-direction-nav li,
.sc_slider_swiper ul.flex-direction-nav li { list-style: none; display:inline-block; width:50px; height:50px; }


/* Page controls */

/* White circles with accent hover */
.sc_slider_flex .flex-control-nav,
.sc_slider_chop .flex-control-nav,
.sc_slider_swiper .flex-control-nav {
	list-style:none;
	position: absolute;
	height:30px;
	margin: 0;
	left: 0;
	right: 0;
	bottom: -30px;
	text-align:center;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}
.sc_slider_flex .flex-control-nav {
    height:45px;
}
.sc_slider_flex:hover .flex-control-nav,
.sc_slider_chop:hover .flex-control-nav,
.sc_slider_swiper:hover .flex-control-nav {
	bottom: 20px;
	-webkit-transition: all ease .5s .5s;
	-moz-transition: all ease .5s .5s;
	-ms-transition: all ease .5s .5s;
	-o-transition: all ease .5s .5s;
	transition: all ease .5s .5s;
}
.sc_slider_flex .flex-control-nav li,
.sc_slider_chop .flex-control-nav li,
.sc_slider_swiper .flex-control-nav span {
	list-style:none;
	display:inline-block;
	margin:0 8px 0 0;
	position:relative;
    width: 30px;
    height: 30px;
}


.sc_slider_flex .flex-control-nav li a:before,
.sc_slider_chop .flex-control-nav li a:before,
.sc_slider_swiper .flex-control-nav span:before {
    margin:0 8px 0 0;
    position:relative;
    position:absolute;
    font-family: "fontello";
    content: '\e88a';
    left: 0;
    z-index:10;
    text-align:center;
    text-indent:1px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 26px;
    /*color: #c9c9c7;*/
    color: rgba(0, 0, 0, 0.2);



    -webkit-transform: rotate(-30deg);
    	    -moz-transform: rotate(-30deg);
    	    -o-transform: rotate(-30deg);
    	    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}


.sc_slider_flex .flex-control-nav a,
.sc_slider_chop .flex-control-nav a,
.sc_slider_swiper .flex-control-nav span {
	cursor:pointer;
}
.sc_slider_flex .flex-control-nav a,
.sc_slider_chop .flex-control-nav a {
	display: block;
	width: 30px;
	height:30px;
	font-size: 0;
	line-height: 0;
}
.sc_slider_flex .flex-control-nav .flex-active,
.sc_slider_chop .flex-control-nav .flex-active,
.sc_slider_swiper .flex-control-nav .swiper-active-switch { /*background-color:transparent; border-color:#ffffff;*/ }
.sc_slider_flex .flex-control-nav a:hover,
.sc_slider_chop .flex-control-nav a:hover,
.sc_slider_swiper .flex-control-nav span:hover { /*background-color:transparent; border-color:#ffffff;*/ }


.sc_slider_flex .flex-control-nav .flex-active:before,
.sc_slider_chop .flex-control-nav .flex-active:before,
.sc_slider_swiper .flex-control-nav .swiper-active-switch:before {  }
.sc_slider_flex .flex-control-nav a:hover:before,
.sc_slider_chop .flex-control-nav a:hover:before,
.sc_slider_swiper .flex-control-nav span:hover:before {  }

/* Full pagination - posts titles */
.sc_slider_pagination_area { overflow:hidden; position:relative; }
.sc_slider_pagination_area .sc_slider { float:left; }
.sc_slider_pagination_area:not(.sc_slider_pagination_over) .sc_slider { max-width:550px; }
.without_sidebar .sc_slider_pagination_area:not(.sc_slider_pagination_over) .sc_slider { max-width:760px; }
.sc_slider_pagination_area .flex-control-nav.manual {
	float:left;
	width:290px;
	padding-right:10px;
	text-align:left;
	position:static;
}
.without_sidebar .sc_slider_pagination_area .flex-control-nav.manual { width:380px; }
.sc_slider_pagination_over .flex-control-nav.manual {
	width:380px;
	position:absolute;
	left: auto;
	right:-390px;
	top:0;
	bottom:auto;
	padding-right:0;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}
.sc_slider_pagination_over:hover .flex-control-nav.manual { right:0; }
.post_content .sc_slider_pagination_over .flex-control-nav.manual { width:290px; }
.sc_slider_pagination_area .flex-control-nav.manual ul { margin: 0; padding:0; list-style:none; }
.sc_slider_pagination_area .flex-control-nav.manual li {
	padding:0 0 0 30px;
	cursor:pointer;
	display:block;
	margin:0;
}
.sc_slider_pagination_area .flex-control-nav.manual li .slide_pager { padding:20px 30px 15px 0; }
.sc_slider_pagination_area .flex-control-nav.manual li + li .slide_pager { border-top: 1px solid #efefef; }
.sc_slider_pagination_area .flex-control-nav.manual li.active,
.sc_slider_pagination_area .flex-control-nav.manual li.cs-active-pagination,
.sc_slider_pagination_area .flex-control-nav.manual li:hover { background-color:rgba(192,192,192,0.4); }
.sc_slider_pagination_over .flex-control-nav.manual li { background-color:rgba(255,255,255,0.8); padding-left:0; }
.sc_slider_pagination_over .flex-control-nav.manual li.active,
.sc_slider_pagination_over .flex-control-nav.manual li.cs-active-pagination,
.sc_slider_pagination_over .flex-control-nav.manual li:hover { background-color:rgba(192,192,192,0.8); }
.sc_slider_pagination_over .flex-control-nav.manual li .slide_pager { padding-left:30px; }
.sc_slider_pagination_over .flex-control-nav.manual li + li .slide_pager { border-top-color:#cccccc; }
.sc_slider_pagination_area .flex-control-nav.manual .slide_date {
	float:left;
	width:75px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#ffffff;
	margin-right: 20px;
}
.sc_slider_pagination_area .flex-control-nav.manual .slide_info { overflow:hidden; }
.sc_slider_pagination_area .flex-control-nav.manual .slide_info .slide_title { padding-bottom:0; font-size:15px; }
.sc_slider_pagination_area .flex-control-nav.manual .slide_info .slide_tags { font-size:12px; font-style:italic; line-height:18px; color:#272727; }


/* Info block*/
.sc_slider_flex .sc_slider_info,
.sc_slider_chop .sc_slider_info,
.sc_slider_swiper .sc_slider_info {
	max-width:80%;
	min-width:50%;
	max-height:100px;
	padding:10px;
	overflow:hidden;
	position:absolute;
	right:0;
	bottom:0;
    background-color: rgba(57, 32, 113, 0.8);
	-webkit-transition: all ease .5s .5s;
	-moz-transition: all ease .5s .5s;
	-ms-transition: all ease .5s .5s;
	-o-transition: all ease .5s .5s;
	transition: all ease .5s .5s;
	margin-bottom:0;
}
.sc_slider_pagination_area .sc_slider .sc_slider_info { max-width:100%; }
.sc_slider .ratingItem span:before { color:rgba(255,255,255,0.5); }
.sc_slider_flex:hover .sc_slider_info.sc_slider_info_fixed,
.sc_slider_flex:hover .sc_slider_info:hover,
.sc_slider_flex .sc_slider_info:hover,
.sc_slider_chop:hover .sc_slider_info.sc_slider_info_fixed,
.sc_slider_chop:hover .sc_slider_info:hover,
.sc_slider_chop .sc_slider_info:hover,
.sc_slider_swiper:hover .sc_slider_info.sc_slider_info_fixed,
.sc_slider_swiper:hover .sc_slider_info:hover,
.sc_slider_swiper .sc_slider_info:hover { margin-bottom:0 !important; }
.sc_slider_flex:hover .sc_slider_info,
.sc_slider_chop:hover .sc_slider_info,
.sc_slider_swiper:hover .sc_slider_info {
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
	margin-bottom:-130px !important;
}
	.sc_slider_flex .slides li .sc_slider_info a,
	.sc_slider_chop .sc_slider_info a,
	.sc_slider_swiper .slides li .sc_slider_info a {
		display:inline;
		min-height:0;
		color:#ffffff;
	}
	.sc_slider_flex .slides li .sc_slider_info a:hover,
	.sc_slider_chop .sc_slider_info a:hover,
	.sc_slider_swiper .slides li .sc_slider_info a:hover { color:#cccccc; }
	.sc_slider_flex .sc_slider_info .sc_slider_subtitle,
	.sc_slider_chop .sc_slider_info .sc_slider_subtitle,
	.sc_slider_swiper .sc_slider_info .sc_slider_subtitle {
		padding:0;
		text-transform:uppercase;
		font-size:20px;
		line-height:24px;
		margin:0 0 4px;
	}
	.sc_slider_flex .sc_slider_info .sc_slider_descr,
	.sc_slider_chop .sc_slider_info .sc_slider_descr,
	.sc_slider_swiper .sc_slider_info .sc_slider_descr { color:#ffffff; line-height:16px; }
	.sc_slider_flex .sc_slider_info .sc_slider_category,
	.sc_slider_chop .sc_slider_info .sc_slider_category,
	.sc_slider_swiper .sc_slider_info .sc_slider_category {
		display:inline-block;
		vertical-align:top;
		text-transform:uppercase;
		position:relative;
		max-width:50%;
		height: 24px;
		line-height:24px;
		padding:0 30px 0 0;
		text-align:left;
		overflow:hidden;
	}
	.sc_slider_pagination_area .sc_slider .sc_slider_info .sc_slider_category { min-width:0; }
.fullScreenSlider .sc_slider_flex .sc_slider_info,
.fullScreenSlider .sc_slider_chop .sc_slider_info,
.fullScreenSlider .sc_slider_swiper .sc_slider_info,
.sliderHomeBullets .sc_slider_flex .sc_slider_info,
.sliderHomeBullets .sc_slider_chop .sc_slider_info,
.sliderHomeBullets .sc_slider_swiper .sc_slider_info {
	max-width:50%;
	min-width:40%;
	padding:30px;
	max-height:150px;
}
.fullScreenSlider .sc_slider_flex:hover .sc_slider_info,
.fullScreenSlider .sc_slider_chop:hover .sc_slider_info,
.fullScreenSlider .sc_slider_swiper:hover .sc_slider_info,
.sliderHomeBullets .sc_slider_flex:hover .sc_slider_info,
.sliderHomeBullets .sc_slider_chop:hover .sc_slider_info,
.sliderHomeBullets .sc_slider_swiper:hover .sc_slider_info { margin-bottom:-180px; }
.fullScreenSlider .sc_slider_flex:hover .sc_slider_info.sc_slider_info_fixed,
.fullScreenSlider .sc_slider_flex:hover .sc_slider_info:hover,
.fullScreenSlider .sc_slider_flex .sc_slider_info:hover,
.fullScreenSlider .sc_slider_chop:hover .sc_slider_info.sc_slider_info_fixed,
.fullScreenSlider .sc_slider_chop:hover .sc_slider_info:hover,
.fullScreenSlider .sc_slider_chop .sc_slider_info:hover,
.fullScreenSlider .sc_slider_swiper:hover .sc_slider_info.sc_slider_info_fixed,
.fullScreenSlider .sc_slider_swiper:hover .sc_slider_info:hover,
.fullScreenSlider .sc_slider_swiper .sc_slider_info:hover,
.sliderHomeBullets .sc_slider_flex:hover .sc_slider_info.sc_slider_info_fixed,
.sliderHomeBullets .sc_slider_flex:hover .sc_slider_info:hover,
.sliderHomeBullets .sc_slider_flex .sc_slider_info:hover,
.sliderHomeBullets .sc_slider_chop:hover .sc_slider_info.sc_slider_info_fixed,
.sliderHomeBullets .sc_slider_chop:hover .sc_slider_info:hover,
.sliderHomeBullets .sc_slider_chop .sc_slider_info:hover,
.sliderHomeBullets .sc_slider_swiper:hover .sc_slider_info.sc_slider_info_fixed,
.sliderHomeBullets .sc_slider_swiper:hover .sc_slider_info:hover,
.sliderHomeBullets .sc_slider_swiper .sc_slider_info:hover { margin-bottom:0; }
.fullScreenSlider .sc_slider_flex .sc_slider_info .sc_slider_category,
.fullScreenSlider .sc_slider_chop .sc_slider_info .sc_slider_category,
.fullScreenSlider .sc_slider_swiper .sc_slider_info .sc_slider_category,
.sliderHomeBullets .sc_slider_flex .sc_slider_info .sc_slider_category,
.sliderHomeBullets .sc_slider_chop .sc_slider_info .sc_slider_category,
.sliderHomeBullets .sc_slider_swiper .sc_slider_info .sc_slider_category { font-size:14px; font-weight:300; }
.fullScreenSlider .sc_slider_flex .sc_slider_info .sc_slider_subtitle,
.fullScreenSlider .sc_slider_chop .sc_slider_info .sc_slider_subtitle,
.fullScreenSlider .sc_slider_swiper .sc_slider_info .sc_slider_subtitle,
.sliderHomeBullets .sc_slider_flex .sc_slider_info .sc_slider_subtitle,
.sliderHomeBullets .sc_slider_chop .sc_slider_info .sc_slider_subtitle,
.sliderHomeBullets .sc_slider_swiper .sc_slider_info .sc_slider_subtitle { font-size:21px; line-height:28px; font-weight:300; }
.fullScreenSlider .sc_slider_flex .sc_slider_info .sc_slider_descr,
.fullScreenSlider .sc_slider_chop .sc_slider_info .sc_slider_descr,
.fullScreenSlider .sc_slider_swiper .sc_slider_info .sc_slider_descr,
.sliderHomeBullets .sc_slider_flex .sc_slider_info .sc_slider_descr,
.sliderHomeBullets .sc_slider_chop .sc_slider_info .sc_slider_descr,
.sliderHomeBullets .sc_slider_swiper .sc_slider_info .sc_slider_descr { font-size:13px; line-height:18px; font-weight:300; }


/*=testimonials==========================================================================================================================================*/

.sc_testimonials { position:relative; overflow:hidden; text-align: center; }
.sc_testimonials ul { list-style:none; margin:0; padding:0; }
.sc_testimonials ul li { width: 100%; padding-right: 5px !important; box-sizing: border-box; -moz-box-sizing: border-box; line-height:21px; list-style:none; }

/*testimonials full*/
.textured { background-position:center center; }

.sc_testimonials_style { position: relative; margin: 0; padding: 95px 95px 100px; }
.sc_testimonials_style .sc_testimonials_item_content { padding: 0 20px; }

.textured .sc_testimonials_style .sc_testimonials_items,
.textured .sc_testimonials_style .sc_testimonials_item,
.textured .sc_testimonials_style .flex-direction-nav li { background-color: transparent; }

.sc_testimonials_style .sc_testimonials_item_quote{  font-weight: 300; position: relative;}
.sc_testimonials_style .sc_testimonials_title { color: #ffffff; }
.sc_testimonials_style .sc_testimonials_item_quote .sc_testimonials_item_text { position: relative; z-index: 2; min-height: 25px; letter-spacing: 1.5px; text-transform: uppercase; font-size: 18px; line-height: 28px; color: #fff;}
.sc_testimonials_style .sc_testimonials_item_author { display: inline-block; text-align: left; margin: 50px 0 0 0; padding:0; }
.sc_testimonials_style .sc_testimonials_item_author .sc_testimonials_item_avatar { width: 70px; height: 70px; float: left; background-color: #fafafc; }
.sc_testimonials_style .sc_testimonials_item_author .sc_testimonials_item_avatar a{display: block;}
.sc_testimonials_style .sc_testimonials_item_author .sc_testimonials_item_avatar img { width: 100%;}
.sc_testimonials_style .sc_testimonials_item_author .sc_testimonials_item_name { margin: 0 0 0 85px; padding: 10px 0 0 0 ; color: #fff; font-size: 18px; font-weight: 600; letter-spacing: 0.5px; }
.sc_testimonials_style .sc_testimonials_item_author .sc_testimonials_item_name a{ display: block; color: #fff;}
.sc_testimonials_style .sc_testimonials_item_author .sc_testimonials_item_position { color: #fff; margin: 0 0 0 86px; font-size: 13px;
		opacity: 0.8;
		filter: alpha(opacity=80);
}
.sc_testimonials_style .flex-direction-nav li { display: block; position: absolute; top: 0; left: -100px; width: 50px; height: 100%; margin:0 !important; padding: 0 !important; z-index:10; }
.sc_testimonials_style .flex-direction-nav li+li { right: -100px; left:auto; }
.sc_testimonials_style .flex-direction-nav a { top: 50%; left:50%; margin:-25px 0 0 -25px; }
.sc_testimonials_style .flex-direction-nav a { color: #fff; border: 2px solid #ffffff; }
.sc_testimonials_style .flex-direction-nav a:hover { background-color: #ffffff; color: #302021; }

.sc_testimonials .flex-direction-nav a { width: 50px; height: 50px; display: block; position: absolute; z-index: 10; text-align:center; font-size:18px; }
.sc_testimonials .flex-direction-nav a:before { line-height:51px; }

.sc_testimonials_style:hover .flex-direction-nav li { left: 40px; }
.sc_testimonials_style:hover .flex-direction-nav li+li { right: 40px; left:auto; }


/*=banner==========================================================================================================================================*/

.sc_banner { display: block; position: relative; overflow: hidden;}

.sc_banner:after {
    background-color: rgba(0, 0, 0, 0.15);
    border: medium none;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.sc_banner:before { content:'';  top: 0; right: 0; bottom: 0; left: 0; position: absolute; z-index: 1; opacity: 0.3;
	-webkit-transition: all 0.1s ease-out;
	   -moz-transition: all 0.1s ease-out;
	    -ms-transition: all 0.1s ease-out;
	     -o-transition: all 0.1s ease-out;
	        transition: all 0.1s ease-out; 

	-webkit-transform: translate(0px, 0px) scale(1, 1); 
	   -moz-transform: translate(0px, 0px) scale(1, 1); 
	     -o-transform: translate(0px, 0px) scale(1, 1); 
	    -ms-transform: translate(0px, 0px) scale(1, 1); 
	        transform: translate(0px, 0px) scale(1, 1);}
.sc_banner:hover:before {  
	-webkit-transform: translate(0px, 0px) scale(0.9, 0.9);
	   -moz-transform: translate(0px, 0px) scale(0.9, 0.9);
	     -o-transform: translate(0px, 0px) scale(0.9, 0.9);
	    -ms-transform: translate(0px, 0px) scale(0.9, 0.9);
	        transform: translate(0px, 0px) scale(0.9, 0.9); }

.sc_banner .sc_banner_image { width: 100%; display: block;
	-webkit-transition: all 4s ease-out;
	   -moz-transition: all 4s ease-out;
	    -ms-transition: all 4s ease-out;
	     -o-transition: all 4s ease-out;
	        transition: all 4s ease-out; 

	-webkit-transform: translate(0px, 0px) scale(1, 1);
	   -moz-transform: translate(0px, 0px) scale(1, 1);
	     -o-transform: translate(0px, 0px) scale(1, 1);
	    -ms-transform: translate(0px, 0px) scale(1, 1);
	        transform: translate(0px, 0px) scale(1, 1);}
.sc_banner:hover .sc_banner_image {
	-webkit-transform: translate(0px, 0px) scale(1.1, 1.1);
	   -moz-transform: translate(0px, 0px) scale(1.1, 1.1);
	     -o-transform: translate(0px, 0px) scale(1.1, 1.1);
	    -ms-transform: translate(0px, 0px) scale(1.1, 1.1);
	        transform: translate(0px, 0px) scale(1.1, 1.1);
}
.sc_banner .sc_banner_title { position: absolute; right: 20px; font-size: 24px; font-weight: 100;  left: 20px; bottom: 50%; text-align: center; color: #fff; z-index: 2;}
.sc_banner .sc_banner_content { position: absolute; font-size: 14px; font-weight: 100; right: 20px; left: 20px; top: 50%; text-align: center; color: #fff; z-index: 2;}
.sc_banner .sc_banner_content:before { content: ''; display: block; width: 40px; height: 1px; background: #fff; margin: 10px auto;}

/*=blogger==========================================================================================================================================*/

.sc_blogger a { color: #222222; }
.sc_blogger .sc_blogger_title { text-align:left; }
.sc_blogger .columnsWrap [class^="columns"] {
	margin-bottom:30px;
}

/*style_date*/
.sc_blogger.style_date .sc_blogger_item{ position: relative; padding: 0;}
.sc_blogger.style_date .sc_blogger_item:after{ clear: both; height: 0; content: ''; display: block;}

.sc_blogger.style_date.sc_blogger_horizontal .sc_blogger_item{ float: left; }
.sc_blogger.style_date.sc_blogger_horizontal:after{ content: ''; height: 0; display: block; clear: both;}
.sc_blogger.style_date.sc_blogger_horizontal .sc_blogger_item{ margin: 0 0 50px 0;}

.sc_blogger.style_date .sc_blogger_item:before{  content: ''; }
.sc_blogger.style_date.sc_blogger_vertical .sc_blogger_item:before{ content: ''; }
.sc_blogger.style_date.sc_blogger_horizontal .sc_blogger_item:before{ height: 1px; width: 100%; left: 0; top: 40px;}
.sc_blogger.style_date.sc_blogger_horizontal .sc_blogger_item.sc_blogger_item_last:before{ content: none;}
.sc_blogger.style_date.sc_blogger_horizontal .sc_blogger_item .sc_blogger_date{ float: none; margin: 0 0 20px 0;}
.sc_blogger.style_date.sc_blogger_horizontal .sc_blogger_item h4{ margin: 0 50px 0 0 ;}
.sc_blogger.style_date.sc_blogger_horizontal .sc_blogger_item .sc_blogger_info{ margin: 0 50px 0 0 ;}

.sc_blogger.style_date.sc_blogger_vertical .sc_blogger_item { padding: 30px 0 0 0 ;}
.sc_blogger.style_date .sc_blogger_item .sc_blogger_date{ width: 80px; height: 80px; float: left; position: relative; z-index: 2; background: #fff; text-align: center; }
.sc_blogger.style_date .sc_blogger_item .sc_blogger_date .day_month{ display: block; padding: 0; font-size: 14px; color: #fff; line-height: 80px; font-weight: 300;}
.sc_blogger.style_date .sc_blogger_item h5{ margin: 0 0 0 100px; padding: 0 0 15px 0;}
.sc_blogger.style_date .sc_blogger_item .sc_blogger_info { margin: 0 0 0 100px; font-weight: 300; font-size: 12px; color: #acb4b6; }
.sc_blogger.style_date .sc_blogger_item .sc_blogger_info a { color: #acb4b6; }
.sc_blogger.style_date .sc_blogger_item .sc_blogger_info .separator{ font-style: normal; padding: 0 5px;}
.sc_blogger.style_date .sc_blogger_item h5 { font-size: 14px; font-weight: 600; letter-spacing: 1px; line-height: 18px; padding: 15px 0 0; text-transform: uppercase; }

.sc_blogger.sc_blogger_vertical.style_date.sc_scroll_controls { padding: 10px 0; }
.sc_blogger.sc_blogger_vertical.style_date.sc_scroll_controls ul.flex-direction-nav {
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}
.sc_blogger.sc_blogger_vertical.style_date.sc_scroll_controls ul.flex-direction-nav li { display: block; height: 10px; position: absolute; width: 100%; }
.sc_blogger.sc_blogger_vertical.style_date.sc_scroll_controls .sc_scroll { z-index: 1; }
.sc_blogger.sc_blogger_vertical.style_date.sc_scroll_controls ul.flex-direction-nav li a {
    background-color: #e0e2e4;
    width: 100%;
    height: 10px;
    line-height: 10px;
    border-radius: 0 !important;
    left:0;
    top:0;
    border: none;
}
.sc_blogger.sc_blogger_vertical.style_date.sc_scroll_controls ul.flex-direction-nav li a:before {  position: relative; top: -1px; color:#000000; line-height: 10px; height: 10px; font-size: 16px; }
.sc_blogger.sc_blogger_vertical.style_date.sc_scroll_controls ul.flex-direction-nav li a:hover:before { color:#fff; }

.sc_blogger.sc_blogger_vertical.style_date.sc_scroll_controls ul.flex-direction-nav li { top: 0; }
.sc_blogger.sc_blogger_vertical.style_date.sc_scroll_controls ul.flex-direction-nav li + li { bottom: 0; top: auto; }

.sc_blogger.style_date .load_more {  height: 60px; position: relative; }
.sc_blogger.style_date .load_more:before { width: 28px; height: 28px; border: 1px solid #ddd; background: #fff; font-family: "fontello"; content: '\e805'; text-align: center; position: absolute; z-index: 2; bottom: 0; left: 24px;  line-height: 28px; }
.sc_blogger.style_date .load_more:after{ content: ''; display: block; width: 1px; height: 100%; background: #ddd; position: absolute; left: 40px; top: 0; z-index: 1; }


/*style_accordion*/
.sc_blogger.style_accordion .sc_blogger_item{ padding: 0;}
.sc_blogger.style_accordion .sc_blogger_info{ margin: 15px 0 0 0; font-weight: 300;}
.sc_blogger.style_accordion .sc_blogger_info{font-size: 12px;}
.sc_blogger.style_accordion .sc_blogger_info .separator{ font-style: normal; padding: 0 5px;}

/* style_regular */
.sc_blogger.sc_blogger_vertical.style_regular article:not(.sc_blogger_item_last) {
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px solid #ddd;
}
.sc_blogger.sc_blogger_vertical.style_regular .sc_blogger_info{font-size: 12px; line-height:16px; }

/*style_images*/
.sc_blogger.sc_blogger_vertical.style_image article:not(.sc_blogger_item_last) { padding-bottom:30px; margin-bottom:30px; border-bottom:1px solid #ddd; }
.sc_tabs_content .sc_blogger.sc_blogger_vertical.style_image article { padding-bottom:20px; margin-bottom:20px; padding-right: 5px; }
.sc_blogger.sc_blogger_vertical.style_image.style_image_tiny article { padding-bottom:14px; margin-bottom:14px; border-bottom:none; }
.sc_tabs_content .sc_blogger p { padding-bottom:10px; }

.sc_blogger.style_image .sc_blogger_title { padding: 0 0 15px 0;}
.sc_blogger.style_image.style_image_tiny .sc_blogger_title { padding: 0 0 10px 0;}

.sc_blogger.style_image .hoverIncrease .hoverIcon:before{ content: '\e800'; }
.sc_blogger.style_image.style_image_tiny .hoverIncrease .hoverIcon { height: 50px; width: 50px; line-height: 50px; margin: -25px 0 0 -25px; }

.sc_blogger.style_image .thumb{ width: 100%; }
.sc_blogger.style_image .thumb img{ width: 100%; display: block;}

.sc_blogger.style_image.style_image_tiny .thumb{ width: 19%; float: left; vertical-align: top; margin: 5px 30px 5px 0; }
.sc_blogger.style_image.style_image_small .thumb{ width: 40%; float: left; vertical-align: top; margin: 5px 30px 5px 0; }
.sc_blogger.style_image.style_image_medium .thumb{ width: 50%; float: left; vertical-align: top; margin: 5px 30px 5px 0; }
.sc_blogger.style_image.style_image_large .thumb{ margin: 0 0 20px 0;}
.sc_blogger.style_image .thumb img{ width: 100%; display: block;}

.sc_blogger.style_image .sc_blogger_info { margin-top:20px; }
.sc_blogger .sc_blogger_info .sc_blogger_more{ float: right; margin: -5px 0 0 0;}
.sc_blogger.style_image .sc_blogger_info:before{ content: ''; }
.sc_blogger.style_image .sc_blogger_info .sc_blogger_author{ font-weight: 300;}
.sc_blogger.style_image .sc_blogger_info .sc_blogger_author{font-size: 12px; }
.sc_blogger.style_image .sc_blogger_info .sc_blogger_author .separator{ font-style: normal; padding: 0 5px;}

/*=parallax==========================================================================================================================================*/

.sc_parallax { position: relative; overflow: hidden; background-repeat:no-repeat; }
.sc_parallax.dark * { color: #fff;}
.sc_parallax .sc_parallax_content { position: relative; overflow: hidden;  z-index: 2; left:0; top:0; right:0; bottom:0; background-repeat:no-repeat; }
.sc_parallax .sc_parallax_overlay { overflow: hidden; }
.sc_parallax .sc_video_bg_wrapper { position:absolute; z-index: 1; left: 0; top: 0; right:0; bottom:0; }
.sc_parallax video.sc_video_bg { 
	opacity: 0;
	filter: alpha(opacity=0);
}


/*=content==========================================================================================================================================*/

.sc_content { overflow:hidden; }
.sc_content.box_style {
    margin: 10px 20px 20px 10px;
    border: 3px solid #ffffff;
    padding: 25px 25px 75px;
    background-color: #fafaf9;
}
.sc_content.box_style .sc_image { display: block; }


/*=popup==========================================================================================================================================*/

.sc_popup {  position: relative; background: #FFF; padding: 24px 20px 20px 20px; width:auto; max-width: 500px;  max-height:600px; margin: 20px auto !important; border: 1px solid #ddd; overflow-x:hidden; overflow-y:auto; }
.sc_popup:before{ height: 4px; content: ''; position: absolute; width: 100%; top: -1px; left: -1px; display: block; padding: 0 1px;}


/*=zoom==========================================================================================================================================*/

.sc_border .sc_zoom { overflow:hidden; }


/*=quote==========================================================================================================================================*/

blockquote.sc_quote_style_1, blockquote.sc_quote_style_2 { position: relative; color:#ffffff; padding: 35px 20px 35px 40px;  }
blockquote.sc_quote_style_1 p { color:#ffffff; position: relative; z-index: 4; }
blockquote.sc_quote_style_2 { color: #6c6465; border-left: 2px solid; }

/*=text slider==========================================================================================================================================*/

.sc_text_slider .sc_slider_swiper .flex-control-nav,
.sc_text_slider .sc_slider_swiper:hover .flex-control-nav { bottom: 0; }
.sc_text_slider .sc_slider { padding-bottom: 30px; margin: 0 auto; }
.sc_text_slider .sc_slider { padding-bottom: 60px; }

.sc_text_slider .sc_slider .flex-control-nav .swiper-active-switch { background-color: transparent;  }
.sc_text_slider .sc_slider .flex-control-nav span {  }


/*=sidebar==========================================================================================================================================*/

.widget_area.sc_sidebar_selector { background: none; }

/*=VC======*/

/* Padding */
.wpb_text_column .wpb_wrapper > p:last-child { padding-bottom: 0; }