@charset 'utf-8';
/* 
Theme Name: Pets Child 
Theme URI: http://pets.axiomthemes.com/ 
Description: Pets - Multipurpose and Responsive Wordpress theme Author: axiomthemes 
Author URI: http://axiomthemes.com/ 
Template: pets 
Version: 1.4 Tags: light, inheritable theme-options Text 
Domain: themerex 
*/

 @import url("../pets/style.css");
 .main_content .usermenu_area{
     display:none;
}
/* =Theme customization starts here -------------------------------------------------------------- */
 .centeredme figure{
    margin-left:auto;
    margin-right:auto;
}
 .topWrap .usermenu_area a:hover {
     color: #6c6465 !important;
}
 figure.sc_image_shape_square > img{
     border: 4px solid #fff;
     box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
 .logo img {
     display: block;
     float: left;
     height: 80px;
     border: none;
     vertical-align: top;
     margin-top: -11px;
}
 .contact_info_email a,.contact_info_location a,.topWrap .usermenu_area a,.topWrap .usermenu_area a:hover{
    color:#fff;
}
 h2, .h2 {
     font-size:50px;
     line-height:60px;
     padding:0 0 30px 0;
     font-weight:600;
}
 .h4 a:hover{
     color:#000000;
}
 .topWrap .topMenuStyleLine > ul > li > a{
     color:#FFFFFF;
     padding: 0 13px;
}
 .topWrap .mainmenu_area{
    /*background-image:url(http://www.blog-doghotelresort.com/wp-content/uploads/2016/06/bg_header.png);
    */
     background-image:url('../../uploads/2018/08/visuel-header-mini.jpg');
     background-color:#fff;
     background-repeat:no-repeat;
     background-position:50% center;
     background-size: contain;
}
 a:hover{
     color: #82a737;
}
 .responsive_menu .menuTopWrap {
     width: 100%;
}
 .topWrap .topMenuStyleLine .current-menu-item > a{
     color:#FFFFFF;
}
 body.boxed .boxedWrap {
     width: 100%;
     margin: 0 auto;
}
 .contact_info_email span a:hover{
    color:#fff;
     !important
}
/* MENU */
 .topWrap .topMenuStyleLine > ul > li.sfHover > a{
     color:#fff !important;
}
 ul#mainmenu > li > a:hover{
     color:#fff !important;
}
 .topWrap .topMenuStyleLine ul#mainmenu > .current-menu-item > a, ul#mainmenu > li.current-menu-ancestor > a{
     color:#4a3023 
}
 .mentionsbold {
     color: #82a737;
     font-weight: bold;
}
 .titresmentions {
     text-align: left;
     margin-bottom: 10px;
     margin-top: 20px;
     color: #82a737;
     font-weight: bold;
}
 .topWrap .topMenuStyleLine > ul > li ul li a {
     font-size: 16px;
}
/* LOGO */
 .logo .logo_text{
     display: inline-block;
     vertical-align: top;
     color:#4b3024;
     margin-left: -1px;
     line-height: 37px;
     margin-right: 8px;
     font-weight: 300;
     font-size: 75px;
}
 .topWrap .phone .contact_info_phone {
     color: #4b3024;
     font-size: 19px;
}
 .logo_slogan{
     display: block;
     font-size: 18px;
     letter-spacing: 2px;
     line-height: 17px;
     vertical-align: top;
     margin: 0 0 0 2px;
     font-weight: 300;
}
/* TITRE BLOG */
 .post_content .post_title{
     font-size: 30px;
     line-height: 40px;
}
/* FOOTER */
 .footerWrap.footerStyleDark{
     background-color: #4a3023;
}
 .copyWrap{
     background-color: #4a3023;
     font-size: 14px;
}
/* BANDEAU HAUT MARRON */
 .topWrap{
     background-color: #4a3023;
}
/************************/
/***** BOOTSTRHACK ***********/
 .wpb_content_element a {
     color: #82A737 !important;
     text-decoration:none;
}
 .formDevis{
     border: 1px solid #82A737;
     width: 100%;
     display: flow-root;
     padding: 25px;
     margin-bottom: 50px;
     border-radius: 25px;
}
 .formDevis .wpb_raw_html{
     margin-bottom: 25px !important;
}
 .formDevis label{
     color:#82A737;
}
 .formDevis .centercontent label:not(.radio-inline){
     text-transform:uppercase;
}
 .formDevis .centercontent .bloc-input,.formDevis .centercontent label,.formDevis .centercontent p{
     text-align:center;
}
 .formDevis .centercontent input[type=text]{
    display:block;
    margin:auto;
     font-family: inherit;
     font-size: 14px;
     outline: none;
     background-color: #f6f5f3;
     border-left: 2px solid #ecebe9;
     border-top: 3px solid #ecebe9;
     color: #a9a9a0;
     font-weight: 300;
     border-right: none;
     border-bottom: none;
}
 .btn {
     display: inline-block;
     padding: 6px 12px;
     margin-bottom: 0;
     font-size: 14px;
     font-weight: normal;
     line-height: 1.42857143;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;
     -ms-touch-action: manipulation;
     touch-action: manipulation;
     cursor: pointer;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     background-image: none;
     border: 1px solid transparent;
     border-radius: 4px;
}
 .btn-primary {
     background-color: #82A737;
     border-color: #82A737;
     border-radius: 0px;
     color: #fff;
     font-size: 1.2em;
     padding: 15px;
}
 .btn-primary:hover {
     background-color: #4b3024;
     border-color: #82A737;
}
/**************************/
/* BANDEAU TITRE BLOG VERT */
 .theme_accent_bgc, .theme_accent_bgc:before, .sc_video_player:active .sc_video_play_button:after, input[type="submit"]:active, input[type="button"]:active, .squareButton.active > span, .squareButton.active > a, .squareButton.ui-state-active > a, .roundButton > a:active, .squareButton > a:active, .squareButton.global > a, .nav_pages_parts > span.page_num, .nav_comments > span.current, ul > li.likeActive:active > a, .masonry article .status, .portfolio .isotopeElement .folioShowBlock:before, .itemPageFull .itemDescriptionWrap .toggleButton:active, .footerWrap .footerWidget .sc_video_player:active .sc_video_play_button:after, .topMenuStyleLine > ul .menu-panel, .sliderLogo .elastislide-wrapper nav span:active:before, .sc_dropcaps.sc_dropcaps_style_1 .sc_dropcap, .sc_testimonials_style_1 .flex-direction-nav a:active, .sc_testimonials_style_3 .sc_testimonials_items, .sc_testimonials_style_3 .flex-direction-nav li, .sc_testimonials_style_3 .flex-direction-nav a, .pagination .pageLibrary > li.libPage > .pageFocusBlock .flex-direction-nav a:active, .sc_popup_light:before, .global_bg, .widgetTabs .widgetTop .tagcloud a:hover, .widgetTabs .widgetTop .tagcloud a:active, .fullScreenSlider.globalColor .sliderHomeBullets .rsContent:before, .fullScreenSlider .sliderHomeBullets .rsContent .slide-3 .order p span, ul.sc_list_style_disk li:before, .sc_slider_pagination_area .flex-control-nav.manual .slide_date, .sc_contact_form_custom .bubble label:hover, .sc_contact_form_custom .bubble label.selected, .sc_tooltip_parent .sc_tooltip, .sc_tooltip_parent .sc_tooltip:before, .sc_quote_style_1, .postLink, .topTabsWrap, .squareButton.gray > a:hover, .squareButton.gray > a:active, .sidebarStyleLight .widget_socials .socPage ul li a:hover, .sidebarStyleLight .wp-calendar tbody td a:hover, .sidebarStyleLight .wp-calendar tbody td a:hover, .sidebarStyleLight .wp-calendar tbody td.today > span, .sidebarStyleLight .wp-calendar tbody td.today a, .footerStyleLight .contactFooter .contactShare ul li a:hover, .isotopeFiltr ul a .data_count, .isotopeFiltr ul a .data_count:before{
     background-color: #82a737;
}
/* BLOC INFO VERT */
 .sc_infobox.sc_infobox_style_info{
     background-color: #82a737;
}
/* INFOS TOP */
 .topWrap .usermenu_area{
     background-color: #82a737;
     color: #ffffff;
}
/* BLOG > AJUSTEMENT IPHONE + TABLETTE */
 .excerptSmall.post.bg_post .post_wrap .post_title {
     padding-bottom: 15px;
     overflow: visible;
}
 .post_content .post_title{
     font-size: 25px;
     line-height: 30px;
}
 .post p{
     padding: 0 0 20px;
     font-size: 16px;
     line-height: 26px;
}
 .topWrap .usermenu_area .menuUsItem::after, .topWrap .usermenu_area::after {
    /* padding-bottom: 5px;
    */
}
 .topWrap.styleFon {
     background: #512c1d;
}
/** BREADCRUMB **/
 .breadcrumb li {
    font-size: 22px;
}
 .breadcrumb > .active {
     background: #82A737;
     color: #FFFFFF;
     padding: 11px;
     padding-left: 12px;
     padding-right: 12px;
     border: 1px solid #82A737;
     font-size: 22px;
}
 a {
     color: #82A737;
}
 .breadcrumb > li > a:hover, .breadcrumb > li > a:focus {
     color: #82A737;
     text-decoration:underline;
}
 .wpb_content_element ol.breadcrumb {
     background:none;
     padding: 0 0 10px;
     border-bottom: 1px solid #82A737;
     margin: 0 0 25px 0 !important;
}
 .breadcrumb > li:before {
     display:none;
     color: #82A737;
}
 .wpb_content_element ol li a.boutontarifs {
     background: #82A737;
     color: #FFFFFF !important;
     float: right;
     padding: 4px 13px;
     border: 1px solid #82A737;
}
 .boutontarifs:hover {
     background: #4b3024;
     text-decoration:none;
     border: 1px solid #4b3024;
}
 .hrariane {
     border-top: 1px solid #82A737;
     margin-top: 2px;
}
 .breadcrumb > li:not(:last-child) {
     margin-right: 15px;
     display: inline;
}
 .breadcrumb li:last-child {
     float:right;
     display: inline;
}
/*********************/
/*** PAGE ACTUALITES **/
 body.page-id-3313 .post_info.infoPost, body.page-id-3313 .relatedWrap.hrShadow, body.page-id-3313 .author.vcard.hrShadow, body.page-id-3313 h1.post_title.entry-title{
     display:none;
}
/*************************/
 body.page-id-4327 .vc_gitem-zone {
     border-radius: 0px;
     border: solid 2px #4b3024;
}
 body.page-id-429 .wpcf7 table tr td{
     border: none;
}
 body.page-id-429 input[type="submit"],body.page-id-429 input[type="button"],body.page-id-429 .squareButton > a,body.page-id-429 .squareButton > span {
     height: 47px;
     line-height: 47px;
     display: block;
     padding: 0px 35px;
     color: #ffffff;
     position: relative;
     font-size: 18px;
     cursor: pointer;
     font-weight: 300;
     background-color: 
    /*#ff5440*/
    #82a737;
     overflow: hidden;
     margin-top: 25px;
}
/* FOOTER */
 .googlemap_button{
     display:none;
}
 @media (min-width: 800px) and (max-width: 1023px) {
     h2, .h2 {
         font-size:22px;
         line-height:28px;
         padding:0 0 25px 0;
    }
     .topWrap .mainmenu_area{
        background-color:#fff;
    }
     header, nav {
         background-color: #512c1d;
    }
}
 @media (min-width: 480px) and (max-width: 799px) {
     h2, .h2 {
         font-size:22px;
         line-height:28px;
         padding:0 0 22px 0;
    }
     .topWrap .mainmenu_area{
        background-color:#fff;
    }
     header, nav {
         background-color: #512c1d;
    }
}
 .devis .radio,.devis .checkbox {
     position: relative;
     display: block;
     margin-top: 10px;
     margin-bottom: 10px;
     font-size:16px;
     color:#6c6465;
}
 .devis .radio label,.devis .checkbox label {
     min-height: 15px;
     padding-left: 20px;
     margin-bottom: 0;
     font-weight: normal;
     cursor: pointer;
     font-size:16px;
     color:#5a6266;
}
 .devis .radio input[type="radio"], .devis .radio-inline input[type="radio"], .devis .checkbox input[type="checkbox"], .devis .checkbox-inline input[type="checkbox"] {
     position: absolute;
     margin-left: -20px;
     color:#5a6266;
     margin-top: 4px;
}
 .devis .radio + .radio, .devis .checkbox + .checkbox {
     margin-top: -5px;
     color:#5a6266;
     font-size:16px;
}
 .devis .radio-inline, .devis .checkbox-inline {
     position: relative;
     display: inline-block;
     padding-left: 20px;
     margin-bottom: 0;
     vertical-align: middle;
     color:#5a6266;
     font-weight: normal;
     cursor: pointer;
     font-size:16px;
}
 .devis .radio-inline + .radio-inline, .devis .checkbox-inline + .checkbox-inline {
     margin-top: 0;
     font-size:16px;
     margin-left: 30px;
     color:#5a6266;
}
 .devis label{
     font-size:16px;
     color:#5a6266;
}
 .devis .bloc-input{
     margin:0px 0px 15px 0px;
}
 .devis .bloc-input .label-input{
     padding:0px 0px 0px 25px;
}
 .boxed {
     padding: 0px !important;
     width: 100% !important;
     margin: auto;
     border-radius: none;
     -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important box-shadow: none !important;
}
 .sidebarStyleDark.footerWidget .widgettitle , .sidebarStyleDark.footerWidget .widgetWrap .title {
     color: #82a737 !important;
}
 .topTabsWrap{
     background-color: #4a3023 !important;
}
 .menu_center .topWrap .wrap_menu.center {
     margin-top: 11px !important;
}
 .topTabsWrap h1{
     line-height: 15px;
}
 .topTabsWrap,.footerWrap,.copyWrap{
     background-image: none !important;
}
 .topTabsWrap {
     background-image: url(skins/general/images/bg_pattern.png);
     background-size: auto auto;
     background-position: center center;
}
 .topTabsWrap:before {
     content: "";
     border-top: 1px dashed white;
     margin-top: 0;
     height: 6px;
     width: 100%;
     margin-top: -30px;
     position: absolute;
    /* z-index: 5;
     */
}
 .topTabsWrap:after{
     content: "";
     border-top: 1px dashed white;
     margin-top: 0;
     height: 6px;
     width: 100%;
     margin-top: -6px;
     position: absolute;
    /* z-index: 5;
     */
}
 .boxeddevis {
     padding: 30px;
     width: 90%;
     margin: auto;
     border-radius: 20px;
     -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
     -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}
/*.boxed .columns1_4,.boxed .columns1_3 {
     min-height: 1px;
}
*/
 .devis input[type=datetime-local]{
     padding:5px 10px;
     border-radius:5px;
}
 .devis .labeldate{
     padding:10px 10px;
     text-align:right;
}
 .author.vcard.hrShadow,.hoverIncrease:hover .hoverShadow,.hoverIncrease .wrap_hover{
    display:none
}
 .carousel-slider__post h1{
     padding: 0 0 15px 0;
}
 .carousel-slider__post footer.carousel-slider__post-meta{
     display:none;
}
 .carousel-slider__post-excerpt {
     max-width: 95%;
}
 .authorPost{
    display:none;
}
 body.boxed li#text-2{
    display:none;
}
 body.wide li#text-2{
    list-style-type:none;
}
 .topWrap {
     background-color: #fff;
}
 .topWrap, {
     background-image: none;
}
 @media screen and (max-width: 1167px){
     .responsive_menu .topWrap .phone {
        display: block;
    }
     .post_text_area > .vc_row-fluid .wpb_column > .vc_column-inner .sc_image_shape_round {
         margin: auto;
    }
     .topWrap .usermenu_area .menuItemRight ,.topWrap .usermenu_area .menuItemLeft{
         float: left;
         width: 100%;
         min-height: 40px;
         text-align: left;
    }
     .responsive_menu .topWrap .infoTopWrap{
         width: 220px;
    }
     .post_text_area > .vc_row-fluid .wpb_column > .vc_column-inner{
         margin-left:0px !important;
    }
}
 @media screen and (max-width: 767px){
     .topWrap .mainmenu_area{
         padding: 0 0 150px 0;
    }
     .responsive_menu .topWrap .wrap_menu {
         margin-top:130px;
    }
     .topWrap .mainmenu_area {
         background-image: url(../../uploads/2018/08/visuel-header-mini.jpg);
         background-color: #fff;
         background-repeat: no-repeat;
         background-position: 0 130px;
         background-size: contain;
    }
     .post_text_area > .vc_row-fluid .wpb_column > .vc_column-inner .sc_image_shape_round {
         margin: auto;
    }
     .mainmenu_area .logo_info{
        display:none
    }
     .topTabsWrap:before {
         content: "";
         border-top: 1px dashed white;
         margin-top: 0;
         height: 6px;
         width: 100%;
         margin-top: -15px;
         position: absolute;
        /* z-index: 5;
         */
    }
     .wpb_video_widget .wpb_wrapper iframe{
         width: 100% !important;
         height: 396px !important;
        max-width:100% !important;
    }
     body.home .vc_video-aspect-ratio-169 .wpb_wrapper{
        width:100%;
        max-width:100% !important;
    }
     body.home .columns1_3:nth-child(2), .columns1_3:nth-child(3) {
         width: 95% !important;
         margin-top: 20px;
    }
     .post_text_area > .vc_row-fluid .wpb_column > .vc_column-inner{
         margin-left:0px !important;
    }
     ol.breadcrumb li{
        display:block;
        font-size:16px;
    }
     .breadcrumb li:last-child {
         float: none;
         display: block;
        font-size:16px;
    }
     .wpb_content_element ol li a.boutontarifs {
         background: #82A737;
         color: #FFFFFF !important;
        font-size:16px;
         float: none;
         padding: 4px 13px;
         border: 1px solid #82A737;
    }
     .breadcrumb > li {
         display: block !important;
    }
     .breadcrumb > .active {
         background: #fff;
         color: #82A737;
         padding: 0 !important;
         padding-left: 0 !important;
         padding-right: 12px;
        border: none !important;
         border: 1px solid #82A737;
         font-size: 16px;
    }
     .wpb_content_element ol li a.boutontarifs {
         background: #fff;
         color: #82A737!important;
         font-size: 16px;
         float: none;
         padding:0 !important;
         border: none !important;
    }
}
 .margin_left_imagealign{
    margin-left:175px;
}
 @media screen and (max-width: 479px){
     .topWrap .logo_info, .topWrap .logo .logo_text, header .logo a .logo_slogan {
         margin: 10px 0 0 0 !important;
    }
     .alignmini .wpb_wrapper a{
         margin-left:auto !important;
    }
     .alignmini .wpb_wrapper{
        text-align:center
    }
     body.page-id-4370 .lastlogo .vc_col-sm-4{
        margin-bottom:40px;
    }
     body.page-id-4370 .vc_row.vc_row-flex>.vc_column_container>.vc_column-inner{
        text-align:center
    }
}
 .margin_left_marginAutoBtn {
     margin: auto !important;
     display: block;
     width: 250px;
}
 @media (max-width: 579px){
     .formDevis{
         border: none;
         width: 100%;
         display: flow-root;
         padding: 0;
         margin-bottom: 50px;
         border-radius: 25px;
    }
}
#sidebar_main{
     background-image: none !important;
}
.sidebarStyleDark {
     background-color: #4a3023 !important;
}
.openResponsiveMenu{
	margin: 3px 0 0 25px;
}
.openResponsiveMenu:hover {
     border-color: #82a737 !important;
}
.openResponsiveMenu:hover:before {
     color: #82a737 !important;
}
@media (min-width: 800px) {
     .copyright br{
         display:none !important;
    }
     .page-id-4370 .vc_grid.vc_row.vc_grid-gutter-35px .vc_grid-item {
         padding-right: 120px !important;
         padding-bottom: 80px !important;
    }
}
@media (max-width: 799px) {
	.topTabsWrap{
     margin-top: 15px;
	}
     .page-id-4025 .thumb.hoverIncrease.sc_image,.page-id-4060 .thumb.hoverIncrease.sc_image{
         margin-top:40px !important;
    }
     .infoTopWrap .phone > .icon-phone:before,.openResponsiveMenu:before,.openResponsiveMenu {
         font-size: 24px;
         height: 40px;
         line-height: 40px;
         text-align: center;
         width: 40px;
    }
     .infoTopWrap .phone > .icon-phone, .infoTopWrap .cart > .cart_button, .infoTopWrap > .search {
         height: 40px;
         width: 40px;
    }
     .topWrap .phone .contact_info_phone, .topWrap .cart .cart_info {
         font-size: 24px !important;
    }
	.responsive_menu .topWrap .menuTopWrap > ul > li ul li a {
		font-size: 16px;
	}
.topWrap .topMenuStyleLine > ul > li ul li a {
    color: #fff;
}
.topWrap .topMenuStyleLine > ul > li ul li a:hover,.topWrap .topMenuStyleLine .current-menu-item > a {
    color: #4a3023 !important;
}
.widget_socials .logo_descr {
    font-size: 18px;
    line-height: 21px;
}
}
@media (max-width: 799px) and (min-width: 480px){
	
     .page-id-4370 .vc_masonry_media_grid .vc_grid.vc_row .vc_grid-item.vc_visible-item{
        display:inline-block !important;
    }
     .page-id-4370 .vc_grid.vc_row.vc_grid-gutter-35px .vc_grid-item {
         padding-right: 35px;
         padding-bottom: 35px;
         width: 33% !important;
    }
     .topWrap .usermenu_area .menuItemLeft {
         display: block !important;
         text-align: center !important;
    }
     .topWrap .usermenu_area .menuItemRight .usermenu_info_email {
         display: none !important;
    }
	.topWrap .usermenu_area .menuItemRight .usermenu_info_time {
		display: block !important;
		text-align: center !important;
	}
     .topWrap .usermenu_area .menuItemRight {
         display: block !important;
         text-align: center !important;
    }
     .topWrap .usermenu_area .menuItemLeft {
         line-height: 24px;
         min-height: auto;
         margin-bottom: 3px;
    }
     .responsive_menu .topWrap .wrap_menu {
         width: 100%;
         margin: 160px 0 40px !important;
         text-align: center;
    }
     .topWrap .mainmenu_area {
         background-position: center 105px !important;
         background-size: 55% !important;
    }
     .topWrap .logo {
         padding: 29px 0 0 0 !important;
    }
     .responsive_menu .topWrap .wrap_menu {
         width: 100% !important;
         margin: 160px 0 0px !important;
         text-align: center !important;
    }
	
}
@media (max-width: 479px) {
	.topWrap .usermenu_area .menuItemRight .contact_info_time{
		text-align:center !important;
	}
.main {
    width: 325px !important;
}
     .page-id-4370 .main {
         width: 95%;
    }
     .topTabsWrap h1 {
         line-height: 30px !important;
    }
     .topWrap .logo {
         padding: 29px 0 0 0 !important;
    }
     .topWrap .usermenu_area .menuItemLeft {
         display: block !important;
         text-align: center !important;
    }
     .topWrap .usermenu_area .menuItemRight .usermenu_info_email {
         display: none !important;
    }
     .topWrap .usermenu_area .menuItemRight {
         display: block !important;
         text-align: center !important;
    }
     .topWrap .usermenu_area ul.usermenu_list > li + li, .topWrap .usermenu_area ul.usermenu_list > li {
         margin: 10px 0px 0 0 !important;
    }
     .responsive_menu .topWrap .wrap_menu {
         width: 100% !important;
         margin: 160px 0 0px !important;
         text-align: center !important;
    }
}
.carousel-slider__post-title {
    color: #4a4a4a !important;
    font: bold 18px/1.4em Arial,sans-serif !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}