@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?42305071');
  src: url('../font/fontello.eot?42305071#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?42305071') format('woff'),
       url('../font/fontello.ttf?42305071') format('truetype'),
       url('../font/fontello.svg?42305071#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?42305071#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-phone-squared:before { content: '\31'; } /* '1' */
.icon-mail-alt:before { content: '\32'; } /* '2' */
.icon-star:before { content: '\35'; } /* '5' */
.icon-star-empty:before { content: '\36'; } /* '6' */
.icon-phone:before { content: '\39'; } /* '9' */
.icon-cubes:before { content: '\74'; } /* 't' */
.icon-link:before { content: '\e800'; } /* '' */
.icon-camera-1:before { content: '\e801'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-left-open-mini:before { content: '\e803'; } /* '' */
.icon-right-open-mini:before { content: '\e804'; } /* '' */
.icon-down-open-mini:before { content: '\e805'; } /* '' */
.icon-up-open-mini:before { content: '\e806'; } /* '' */
.icon-paper-plane-empty:before { content: '\e807'; } /* '' */
.icon-window:before { content: '\e808'; } /* '' */
.icon-mobile:before { content: '\e809'; } /* '' */
.icon-monitor:before { content: '\e80a'; } /* '' */
.icon-login:before { content: '\e80b'; } /* '' */
.icon-popup:before { content: '\e80c'; } /* '' */
.icon-leaf:before { content: '\e80d'; } /* '' */
.icon-picture:before { content: '\e80e'; } /* '' */
.icon-droplet:before { content: '\e80f'; } /* '' */
.icon-fire:before { content: '\e810'; } /* '' */
.icon-diamond:before { content: '\e811'; } /* '' */
.icon-comment-2:before { content: '\e812'; } /* '' */
.icon-cancel:before { content: '\e813'; } /* '' */
.icon-globe:before { content: '\e814'; } /* '' */
.icon-skype-1:before { content: '\e815'; } /* '' */
.icon-volume-off:before { content: '\e816'; } /* '' */
.icon-vimeo:before { content: '\e817'; } /* '' */
.icon-pinterest:before { content: '\e818'; } /* '' */
.icon-check:before { content: '\e819'; } /* '' */
.icon-building:before { content: '\e81a'; } /* '' */
.icon-print:before { content: '\e81b'; } /* '' */
.icon-mail:before { content: '\e81c'; } /* '' */
.icon-skype:before { content: '\e81d'; } /* '' */
.icon-gplus:before { content: '\e81e'; } /* '' */
.icon-instagramm:before { content: '\e81f'; } /* '' */
.icon-linkedin:before { content: '\e820'; } /* '' */
.icon-home:before { content: '\e821'; } /* '' */
.icon-twitter:before { content: '\e822'; } /* '' */
.icon-facebook:before { content: '\e823'; } /* '' */
.icon-search:before { content: '\e824'; } /* '' */
.icon-arrows-ccw:before { content: '\e825'; } /* '' */
.icon-desktop:before { content: '\e826'; } /* '' */
.icon-edit:before { content: '\e827'; } /* '' */
.icon-globe-1:before { content: '\e828'; } /* '' */
.icon-file-image:before { content: '\e829'; } /* '' */
.icon-leaf-1:before { content: '\e82a'; } /* '' */
.icon-quote-left:before { content: '\e82b'; } /* '' */
.icon-quote-right:before { content: '\e82c'; } /* '' */
.icon-ok:before { content: '\e82d'; } /* '' */
.icon-attention-alt:before { content: '\e82e'; } /* '' */
.icon-cancel-1:before { content: '\e82f'; } /* '' */
.icon-shopping:before { content: '\e830'; } /* '' */
.icon-info-1:before { content: '\e831'; } /* '' */
.icon-tint:before { content: '\e832'; } /* '' */
.icon-feather:before { content: '\e833'; } /* '' */
.icon-comment:before { content: '\e834'; } /* '' */
.icon-cog:before { content: '\e835'; } /* '' */
.icon-photo:before { content: '\e836'; } /* '' */
.icon-doc:before { content: '\e837'; } /* '' */
.icon-camera:before { content: '\e838'; } /* '' */
.icon-videocam:before { content: '\e839'; } /* '' */
.icon-attach:before { content: '\e83a'; } /* '' */
.icon-location:before { content: '\e83b'; } /* '' */
.icon-mail-1:before { content: '\e83c'; } /* '' */
.icon-minus-squared-alt:before { content: '\e83d'; } /* '' */
.icon-chat-empty:before { content: '\e83e'; } /* '' */
.icon-building-filled:before { content: '\e83f'; } /* '' */
.icon-download-cloud:before { content: '\e840'; } /* '' */
.icon-lifebuoy:before { content: '\e841'; } /* '' */
.icon-install:before { content: '\e842'; } /* '' */
.icon-plus:before { content: '\e843'; } /* '' */
.icon-minus:before { content: '\e844'; } /* '' */
.icon-play:before { content: '\e845'; } /* '' */
.icon-pause:before { content: '\e846'; } /* '' */
.icon-stop:before { content: '\e847'; } /* '' */
.icon-to-end:before { content: '\e848'; } /* '' */
.icon-to-end-alt:before { content: '\e849'; } /* '' */
.icon-to-start-alt:before { content: '\e84a'; } /* '' */
.icon-fast-fw:before { content: '\e84b'; } /* '' */
.icon-to-start:before { content: '\e84c'; } /* '' */
.icon-fast-bw:before { content: '\e84d'; } /* '' */
.icon-export:before { content: '\e84e'; } /* '' */
.icon-share:before { content: '\e84f'; } /* '' */
.icon-reply:before { content: '\e850'; } /* '' */
.icon-reply-1:before { content: '\e851'; } /* '' */
.icon-th:before { content: '\e852'; } /* '' */
.icon-th-list:before { content: '\e853'; } /* '' */
.icon-th-large:before { content: '\e854'; } /* '' */
.icon-sliders:before { content: '\e855'; } /* '' */
.icon-picture-1:before { content: '\e856'; } /* '' */
.icon-flag:before { content: '\e857'; } /* '' */
.icon-flag-empty:before { content: '\e858'; } /* '' */
.icon-doc-1:before { content: '\e859'; } /* '' */
.icon-docs:before { content: '\e85a'; } /* '' */
.icon-cog-alt:before { content: '\e85b'; } /* '' */
.icon-basket:before { content: '\e85c'; } /* '' */
.icon-lightbulb:before { content: '\e85d'; } /* '' */
.icon-clock:before { content: '\e85e'; } /* '' */
.icon-desktop-1:before { content: '\e85f'; } /* '' */
.icon-tablet:before { content: '\e860'; } /* '' */
.icon-mobile-1:before { content: '\e861'; } /* '' */
.icon-briefcase:before { content: '\e862'; } /* '' */
.icon-behance:before { content: '\e863'; } /* '' */
.icon-youtube:before { content: '\e864'; } /* '' */
.icon-volume-down:before { content: '\e865'; } /* '' */
.icon-volume-up:before { content: '\e866'; } /* '' */
.icon-dot:before { content: '\e867'; } /* '' */
.icon-dribbble:before { content: '\e868'; } /* '' */
.icon-tumblr:before { content: '\e869'; } /* '' */
.icon-rss:before { content: '\e86a'; } /* '' */
.icon-circle-empty:before { content: '\e86b'; } /* '' */
.icon-circle-thin:before { content: '\e86c'; } /* '' */
.icon-up:before { content: '\e86d'; } /* '' */
.icon-spin3:before { content: '\e86e'; } /* '' */
.icon-user:before { content: '\e86f'; } /* '' */
.icon-menu:before { content: '\e870'; } /* '' */
.icon-up-open:before { content: '\e871'; } /* '' */
.icon-key:before { content: '\e872'; } /* '' */
.icon-pencil:before { content: '\e873'; } /* '' */
.icon-lock:before { content: '\e874'; } /* '' */
.icon-lock-1:before { content: '\e875'; } /* '' */
.icon-lock-2:before { content: '\e876'; } /* '' */
.icon-brush:before { content: '\e877'; } /* '' */
.icon-iconmonstr-shopping-cart-4-icon:before { content: '\e878'; } /* '' */
.icon-footprint1:before { content: '\e879'; } /* '' */
.icon-pet32:before { content: '\e87a'; } /* '' */
.icon-pet43:before { content: '\e87b'; } /* '' */
.icon-pet46:before { content: '\e87c'; } /* '' */
.icon-pet47:before { content: '\e87d'; } /* '' */
.icon-baggage22:before { content: '\e87e'; } /* '' */
.icon-cat19:before { content: '\e87f'; } /* '' */
.icon-dog37:before { content: '\e880'; } /* '' */
.icon-angle-left:before { content: '\e881'; } /* '' */
.icon-angle-right:before { content: '\e882'; } /* '' */
.icon-angle-up:before { content: '\e883'; } /* '' */
.icon-angle-down:before { content: '\e884'; } /* '' */
.icon-heart-2:before { content: '\e885'; } /* '' */
.icon-comment-1:before { content: '\e886'; } /* '' */
.icon-heart:before { content: '\e887'; } /* '' */
.icon-link-1:before { content: '\e888'; } /* '' */
.icon-heart-1:before { content: '\e889'; } /* '' */
.icon-paw:before { content: '\e88a'; } /* '' */
.icon-calendar-empty:before { content: '\e88b'; } /* '' */
.icon-arrows-cw:before { content: '\e88c'; } /* '' */
.icon-calendar:before { content: '\e88d'; } /* '' */
.icon-plug:before { content: '\e88e'; } /* '' */